<div class="main contents">
    <div class="container">
        <div class="article">
            <h1>2.AWSアカウントを作成しよう</h1>

            <div data-turbolinks='false'>
                <details id="table-of-content" open>
                  <summary>目次</summary>
                </details>
            </div>

            <h2>本章のゴール</h2>
            <p>AWSアカウントを作成しログインすることができる。次章からはログインした状態を前提として進めていきます。</p>

            <h2>技術解説</h2>
            <h3>Rootユーザ</h3>
            <p>管理者権限を持つユーザのこと。</p>

            <h2>作業手順</h2>
            <h3>AWSサインアップページに移動する。</h3>
            <a href="https://portal.aws.amazon.com/billing/signup#/start">サインアップページ</a>

            <h3>登録情報を入力し「続行」をクリックする。</h3>

            <a href="/2_account/2-1.png" data-lightbox="2-1" data-title=""><img src="/2_account/2-1.png" alt=""></a>

            <h3>連絡先情報を入力し「続行」をクリックする。</h3>

            <a href="/2_account/2-2.png" data-lightbox="2-2" data-title=""><img src="/2_account/2-2.png" alt=""></a>

            <h3>請求情報を入力し「続行」をクリックする。</h3>

            <a href="/2_account/2-3.png" data-lightbox="2-3" data-title=""><img src="/2_account/2-3.png" alt=""></a>
            
            <h3>本人確認を実施します。</h3>

            <a href="/2_account/2-4.png" data-lightbox="2-4" data-title=""><img src="/2_account/2-4.png" alt=""></a>

            <a href="/2_account/2-5.png" data-lightbox="2-5" data-title=""><img src="/2_account/2-5.png" alt=""></a>            

            <h3>サポートプランを選択します。無料のベーシックサポートを選択します。</h3>

            <a href="/2_account/2-6.png" data-lightbox="2-6" data-title=""><img src="/2_account/2-6.png" alt=""></a>            

            <h3>サポートプランを選択します。無料のベーシックサポートを選択します。</h3>

            <a href="/2_account/2-6.png" data-lightbox="2-6" data-title=""><img src="/2_account/2-6.png" alt=""></a>
            
            <h3>サインアップ完了です。「AWSマネジメントコンソールへ進む」をクリックしてください。</h3>

            <a href="/2_account/2-7.png" data-lightbox="2-7" data-title=""><img src="/2_account/2-7.png" alt=""></a>
            
            <h3>ログイン画面に移動しました。ルートユーザでログインするためルートユーザのラジオボタンを選択し、先ほど登録したEメールアドレスを入力します。</h3>

            <a href="/2_account/2-8.png" data-lightbox="2-8" data-title=""><img src="/2_account/2-8.png" alt=""></a>
            
            <h3>セキュリティ認証を済ませます。</h3>

            <a href="/2_account/2-9.png" data-lightbox="2-9" data-title=""><img src="/2_account/2-9.png" alt=""></a>            

            <h3>登録したパスワードを入力します。</h3>

            <a href="/2_account/2-10.png" data-lightbox="2-10" data-title=""><img src="/2_account/2-10.png" alt=""></a>

            <h3>ログイン完了です。この画面がAWSマネジメントコンソールのトップ画面です。</h3>

            <a href="/2_account/2-11.png" data-lightbox="2-11" data-title=""><img src="/2_account/2-11.png" alt=""></a>            
            
            <h2>まとめ</h2>
            <p>本章ではAWSアカウントの作成を実施しました。AWSアカウントを作成すると自動的にログインID＝EメールアドレスのRootユーザが作成されます。RootユーザはそのAWSアカウント内では何でも出来る最強のユーザです。仮にこのユーザが流出してしまうと他人に全ての権限を掌握されてしまいます。取扱いには十分に注意してください。</p>

            <h2>課題（余力のある方向け）</h2>
            <h3>サポートプランが他にもどのようなプランがあるか調べて比較してみましょう。</h3>
            <h3>Rootユーザが流出した事例が数多くあります。どのような被害があり、どのような対策を取るべきか、調べてみましょう。</h3>
        </div>
        <div class="button">
            <a href="1" class="btn btn--green btn--cubic btn--shadow">戻る</a>
            <a href="3" class="btn btn--orange btn--cubic btn--shadow">次へ</a>
        </div>
    </div>
</div>