<div class="main contents">
    <div class="container">
        <div class="article">
            <h1>10.ドメインを取得してみよう</h1>

            <div data-turbolinks='false'>
                <details id="table-of-content" open>
                  <summary>目次</summary>
                </details>
            </div>

            <h2>本章のゴール</h2>
            <p>自分用の無料ドメインを取得してみよう</p>

            <h2>技術解説</h2>
            
            <h3>ドメイン</h3>
            <p>インターネット上の住所の別名のこと。私たちの住所は本来なら緯度経度で表される。しかし緯度経度では分かりにくいため「東京都渋谷区〜」のような住所で表される。これと同じようにインターネット上の住所はIPアドレスだが、人間は数字の羅列であるIPアドレスよりも分かり易いドメインを使用する。</p>

            <h2>作業手順</h2>

            <h3>無料のドメインを取得する</h3>
            <p>今回は商用の構築ではないためコストを抑える意味も込めて無料のドメインを取得します。</p>

            <p>以下のサイトにアクセスします。</p>
            <a href="https://my.freenom.com/clientarea.php">https://my.freenom.com/clientarea.php</a>

            <a href="/10_domain/10-1.png" data-lightbox="10-1" data-title=""><img src="/10_domain/10-1.png" alt=""></a> 

            <p>Service＞Register New Domainをクリックします。</p>

            <a href="/10_domain/10-2.png" data-lightbox="10-2" data-title=""><img src="/10_domain/10-2.png" alt=""></a>        

            <p>以下のような画面に移動します。</p>

            <a href="/10_domain/10-3.png" data-lightbox="10-3" data-title=""><img src="/10_domain/10-3.png" alt=""></a>            

            <p>取得したい任意のドメイン名を入力し「Check Availability」をクリックします。</p>

            <a href="/10_domain/10-4.png" data-lightbox="10-4" data-title=""><img src="/10_domain/10-4.png" alt=""></a>            

            <p>「checkout」をクリックします。</p>

            <a href="/10_domain/10-5.png" data-lightbox="10-5" data-title=""><img src="/10_domain/10-5.png" alt=""></a>            

            <p>続いて「Continune」をクリックします。</p>

            <a href="/10_domain/10-6.png" data-lightbox="10-6" data-title=""><img src="/10_domain/10-6.png" alt=""></a>             

            <p>画面左下にメールアドレスを入力しメールアドレスの検証を実施します。</p>

            <a href="/10_domain/10-7.png" data-lightbox="10-7" data-title=""><img src="/10_domain/10-7.png" alt=""></a>    
            
            <p>送信されたメールの本文に記載してあるリンクをクリックします。</p>

            <p>個人情報を入力後「Complete Order」をクリックします。</p>

            <a href="/10_domain/10-8.png" data-lightbox="10-8" data-title=""><img src="/10_domain/10-8.png" alt=""></a>      

            <p>注文が完了します。</p>

            <a href="/10_domain/10-9.png" data-lightbox="10-9" data-title=""><img src="/10_domain/10-9.png" alt=""></a>            

            <p>ログイン後、Services＞My Domainsをクリックします。</p>

            <a href="/10_domain/10-10.png" data-lightbox="10-10" data-title=""><img src="/10_domain/10-10.png" alt=""></a>     

            <p>先ほど購入したドメインが一覧に表示されていることを確認します。</p>

            <a href="/10_domain/10-11.png" data-lightbox="10-11" data-title=""><img src="/10_domain/10-11.png" alt=""></a>  
            
            <h2>まとめ</h2>
            <p>今回はドメインを取得しました。ドメインは通常購入しても年間1000円程度で非常にリーズナブルな買い物です。しかし購入しても使わない場合や一時的に使用したい場合などには少し高く感じるかもしれません。そういった場合はこのような無料のドメインを試してみてください。しかし、お客様などの商用環境での使用は控えるようにしましょう。無料のドメインなので募金や寄付金で運営されているケースが多く、DNSサーバの可用性を担保することが出来ないからです。</p>

            <p>※使用していないAWSリソースは必ず削除してください！思わぬ従量課金に繋がります！</p>

        </div>
        <div class="button">
            <a href="9" class="btn btn--green btn--cubic btn--shadow">戻る</a>
            <a href="11" class="btn btn--orange btn--cubic btn--shadow">次へ</a>
        </div>
    </div>
</div>