<div class="main contents">
    <div class="container">
        <div class="article">
            <h1>1.目標を確認しよう</h1>

            <div data-turbolinks='false'>
                <details id="table-of-content" open>
                  <summary>目次</summary>
                </details>
            </div>            

            <h2>本章のゴール</h2>
            <ul>
                <li>・Elemental-Lab AWSコースでの目標を確認する。</li>
                <li>・Elemental-Lab AWSコースを通してどのようなスキルが身に付くか確認する。</li>
            </ul>

            <h2>技術解説</h2>

            <h3>クラウドサービス</h3>
            <p>インターネット経由で、デスクトップ仮想化や共有ディスクなど、ハードウェアやインフラ機能の提供を行うサービス。</p>

            <h3>Amazon Web Services</h3>
            <p>クラウド事業者のひとつ。他にもGCPやAzure等があるがAWSは最も汎用的でユーザファーストなクラウド事業者である。</p>

            <h3>WordPress</h3>
            <p>コンテンツ管理システム（CMS）のひとつ。ノンプログラミングでWebサイトを作成して公開することが出来るため非常に人気が高い。</p>
            
            <h3>AWSマネジメントコンソール</h3>
            <p>GUIベースの画面でAWSを操作出来るWebサイトのこと。AWSリソースの使用状況を確認したり、構築、削除、変更、申請など様々なアクションが行える。</p>
            
            <h3>GUI</h3>
            <p>グラフィカルユーザインターフェースのこと。マウス操作やタッチパネルなど直感的に操作出来ることが特徴。逆に文字ベースのCUIも存在する。</p>
            
            <h3>IaC</h3>
            <p>Infrastructure as Codeのことでインフラの情報をコード化し管理し易くする技術。</p>

            <h3>AWS認定</h3>
            <p>AWSに関する専門知識を問う資格試験のこと。</p>

            <h2>当コースの目標</h2>
            <p>当コースでは現在主流のクラウドサービス Amazon Web Services（以下AWS）を用いて、コンテンツ管理システムであるWordPressのインフラ構築を目指します。</p>

            <h3>なぜAWSなのか？</h3>
            <p>答えはシンプルでクラウドベンダの中で最大のシェアを誇っているからです。またAWSは200を超えるサービスを提供しており、ほとんどのユーザが抱える課題に対応できます。（もちろん要件によっては他のクラウドが最善の場合もあります。）AWSは今もなおシェアを拡大しておりAWSエンジニアは今後更に必要とされます。当コースを通して多くのAWSエンジニアが世の中に排出されることを祈っております。</p>

            <h3>なぜWordPressなのか？</h3>
            <p>Webの約42%はWordPressで構築されていると言われています。この数字からWordPressの需要は高いことが見受けられます。また「WordPressのインフラ構築」というのは「インフラ界のHelloWorld」とも呼ばれています。新しいインフラ技術を試すには、インフラだけではなくその上に乗るアプリケーションも必要ですよね。（インフラとアプリは切っても切り離せない関係です。）WordPressのインフラ構築は非常に手軽のため、メインであるインフラの構築に注力することができます。</p>
            
            <h3>作成するシステムの構成図</h3>
            <p>最終的には以下の構成のシステムを作成します。今完全に理解する必要はありません。各章を経て徐々にシステムを構築していきます。AWSには「AWSマネジメントコンソール」と呼ばれるGUIベースの画面が準備されています。最初の内はこのAWSマネジメントコンソールを用いて構築を進めていきます。最後の方では現在のインフラ構築で主流のIaC（Infrastructure as Code）にも挑戦してみましょう。このスキルはどこのIT現場でもほぼ必須と言って良い程使われている技術です。</p>

            <a href="/1_first/1-1.png" data-lightbox="1-1" data-title=""><img src="/1_first/1-1.png" alt=""></a>

            <h3>コースの流れ</h3>
            <h4>2.AWSのアカウントを作成する、3.セキュリティ初期設定</h4>
            <p>この2章は事前準備です。しかし事前準備と言いつつ「2.セキュリティ初期設定」は非常に重要です。AWSにとってセキュリティは最重要課題として取り扱われています。またAWSのアカウントを乗っ取る事件も多発しており、乗っ取られた暁には多大な損害を被ってしまいます。そうならないためにもセキュリティの設定は必ず実施していきましょう。</p>

            <h4>4.VPCを作成してみよう〜11.ホストゾーンを作成してみよう</h4>
            <p>この11章はAWSマネジメントコンソールからAWSリソースを操作し、実際に構築を進めていきます。ボリュームのある内容となっていきますが一つ一つはシンプルなので安心して取り組んでいきましょう。</p>

            <h4>12.今まで作成したリソースを削除しよう</h4>
            <p>「4.VPCを作成してみよう〜11.ホストゾーンを作成してみよう」で作成したリソースを削除します。理由はコストを抑えるためです。AWSは従量課金制を採用しており使ったら使った分だけ金額が請求されます。非常に分かり易い課金体系になっていますがAWSリソースの使い方によっては、これが吉とも凶ともなります。不要なAWSリソースは削除して、次のIaCでの構築に備えましょう。</p>

            <h4>13.CloudFormationで自動構築してみよう</h4>
            <p>いよいよIaCを用いてAWSリソースを構築していきます。構築する内容は今までと同じですが構築するための「やり方」が異なってきます。CloudFomationはAWSサービスをコーディングで作成していきます。一度覚えてしまえば非常に汎用性の高いサービスなので頑張って身に付けましょう。</p>

            <h2>当コースを通じてどのようなスキルが身に付くのか？</h2>
            <ul>
                <li>・AWSを用いたオーソドックスな構成のシステムを構築するスキル</li>
                <li>・AWS認定 ソリューションアーキテクト アソシエイト（AWS認定 SAA）相応の構築スキル</li>
                <li>・IaCを用いた自動構築スキル</li>
            </ul>

            <h2>まとめ</h2>
            <p>当コースの目標はAWSを用いてオーソドックスな構成のシステム構築が目標であり、これを構築することでAWSの基礎、AWS認定 SAA相応の構築スキル及びAWSにおけるIaCを身に付けることが可能である。</p>

        </div>
        <div class="button">
            <a href="2" class="btn btn--orange btn--cubic btn--shadow">次へ</a>
        </div>
    </div>
</div>

