<div class="main contents">
    <div class="container">
        <h1>AWSアカウントを作成する</h1>

        <h2>作業手順</h2>
        <ol>
            <li>1. AWSサインアップページを開く</li>
            <a href="https://aws.amazon.com/jp">ログインページへ</a>
                <img src="/1_account/account01.png">
            <li>2. Eメールアドレス, パスワード, アカウント名を登録する</li>
                <img src="/1_account/account02.png">
            <li>3. 連絡先情報を登録する</li>
                <img src="/1_account/account03.png">
            <li>4. 請求情報を登録する</li>
                <img src="/1_account/account04.png">
            <li>5. 本人確認を実施する</li>
                <img src="/1_account/account05.png">
            <li>6. SMSコードを入力する</li>
                <img src="/1_account/account06.png">
            <li>7. サポートプランを選択する</li>
                <img src="/1_account/account07.png">
        </ol>

        <h2>解説</h2>
        <p>AWSサポートプランは、以下３種類存在する。</p>
        <p>ベーシックプラン：無料</p>
        <p>開発者プラン：29 USD/月〜　　 ※3100円前後</p>
        <p>ビジネスプラン：100USD/月〜　※10,800円前後</p>
        <p>※開発者プラン, ビジネスプランの違い</p>
        <p>・推奨される用途</p>
        <p>開発者プラン：テスト、開発者用</p>
        <p>ビジネスプラン：実稼働用</p>
        <p>・AWSサポート面</p>
        <p>開発者プラン：AWSサポート営業中は、Eメールでアクセス可能</p>
        <p>ビジネスプラン：24時間365日、AWSサポートにチャット・電話・Eメールでアクセス可能</p>

        <a href="https://aws.amazon.com/jp/register-flow/">詳細はこちら（公式ページへ移動）</a>

    </div>
</div>