<div class="main contents">
  <div class="container">
      <div class="article">
        <h1>AWSサービス解説</h1>

        <div data-turbolinks='false'>
            <details id="table-of-content" open>
              <summary>目次</summary>
            </details>
        </div>

        <h2>AWS</h2>
        <h3>AWS<a id="word1"></a></h3>
        <p>Amazon Web Services, Inc.が提供するクラウドサービスです。私たちはクラウドを使うことで自身でサーバやルータなどのネットワーク機器を購入することなく、コンピュータリソース使用することが出来ます。料金は「使ったら使った分だけ」のお支払いとなります。このコスト運用がクラウドの醍醐味と言えるでしょう。またサーバを増やしたい時に即座に増やし、不要になったら削除する、といった柔軟なキャパシティ運用が可能です。</p>

        <h3>リージョン<a id="word2"></a></h3>
        <p>リージョンとはAWSのデータセンター群が配置されている地域のことを指します。2021年11月現在、AWSのリージョンは25ヶ所あります。私たちユーザは構築するシステムの要件に応じて最適なリージョンを選択します。またリージョンは後述するアベイラビリティゾーンで構成されています。つまりリージョンとは複数のアベイラビリティゾーンの集合体と言えます。</p>

        <h3>アベイラビリティゾーン<a id="word3"></a></h3>
        <p>アベイラビリティゾーン（以下AZ）とはAWSの1つのデータセンターのことを指します。このデータセンターには物理サーバ、ストレージ、ネットワーク機器が設置されています。東京リージョンにはAZが4つあります。これはつまり「東京にAWSのデータセンターが4つある」ということになります。またAZ間は物理的に離れており、AZが互いに影響を及ぼさない構成になっています。つまりAZ-1が自然災害を被ってもAZ-2には影響はありません。</p>

        <a href="/awswords/words-1.png" data-lightbox="words-1" data-title=""><img src="/awswords/words-1.png" alt=""></a>

        <h2>Amazon Virtual Private Cloud (VPC)</h2>

        <h3>IPアドレス<a id="word4"></a></h3>
        <p>VPCを説明する上でIPアドレスの理解は必須です。VPCの解説に先立って「IPアドレスとは？」について解説していきます。<br>よく言われるのが「IPアドレスはインターネット上の住所のである」です。Webサイトを閲覧したり、メールを送信したりするためには送り先を識別する必要があります。その情報がIPアドレスです。現実世界で相手に手紙を送る際に「相手の住所」という情報が必要ですよね？この相手の住所に相当する情報がIPアドレスです。<br>IPアドレスには2種類あります。グローバルIPアドレスとプライベートIPアドレスです。グローバルIPアドレスは全世界で唯一無二のIPアドレスです。インターネットに接続する際に必要です。プライベートIPアドレスは自宅や企業のネットワーク内で使用されるIPアドレスです。プライベートIPアドレスは組織内での重複は不可ですが組織外との重複は問題ありません。つまり企業Aと企業Bにおいて、グローバルIPアドレスは重複不可ですがプライベートIPアドレスは重複可ということです。
        </p>

        <h3>CIDR<a id="word5"></a></h3>
        <p>従来IPアドレスの割り当て方法にはクラスフルという考えがありました。クラスA、クラスB、クラスCがあり、それぞれ割り当てIPアドレスの数は固定的でした。<br>クラスA：16700000個<br>クラスB：65000個<br>クラスC：250個<br>このように固定だとクラスAクラスBだと多すぎるしクラスCだと少ないといった事象が発生してしまいます。そこでクラスレスという考え方が生まれました。クラスレスはIPアドレス数は固定的ではなく、自由に設定可能です。これによってネットワークの数や接続端末に合わせたIPアドレスの割り振りが可能になり、無駄なくIPアドレスを設定できるようになりました。クラウドの「必要な分だけ」という考え方に非常に似ていますね。
        </p>

        <h3>VPC<a id="word6"></a></h3>
        <p>AWS上に自社専用の仮想ネットワーク環境を構築することができます。AWSリソースの大枠や土台というイメージで構いません。VPCはそのVPCのIPアドレスの範囲によってその大きさが決まります。後ほど解説しますが仮にVPCのIPアドレス範囲を10.0.0.0/16で指定すると65531個のIPアドレスが割り当て可能です。では逆にVPCのIPアドレス範囲を10.0.0.0/28で指定すると11個のIPアドレスが割り当て可能です。「IPアドレスが割り当て可能」というのはサーバを起動出来る台数と考えて頂いても構いません。このようにVPCの範囲はユーザが自由に変えることが出来ます。</p>

        <a href="/awswords/words-2.png" data-lightbox="words-2" data-title=""><img src="/awswords/words-2.png" alt=""></a>

        <h3>サブネット<a id="word7"></a></h3>
        <p>サブネットはVPCのIPアドレス範囲内から更にIPアドレスの範囲を割り当てて作成するサブネットワークです。VPCというネットワーク内に作成するネットワークなので「サブ」ネットワークです。VPC上にEC2（後述）などを配置するにはVPC内にサブネットを作成する必要があります。例題でみていきます。VPCの範囲を10.0.0.0/24で作成したとします。このVPCには251個のIPアドレスを割り当てることが出来ます。このVPC内に10.0.0.0/25の範囲でサブネットを作成したとします。この場合サブネットに割り当てられるIPアドレスは123個となります。現状251個割り当てられるIPアドレスのうち123個分はサブネット用になりました。まだサブネットに割り当てられていない251個-123個=128個のVPCのIPアドレスは別のサブネットを作成する際に使うことが出来ます。10.0.0.0/25（123個のIPアドレス）、10.0.0.0/26（59個のIPアドレス）、10.0.0.0/27（27個のIPアドレス）等ユーザ任意の範囲でサブネットを作成することが可能です。</p>

        <a href="/awswords/words-3.png" data-lightbox="words-3" data-title=""><img src="/awswords/words-3.png" alt=""></a>

        <h3>インターネットゲートウェイ<a id="word8"></a></h3>
        <p>インターネットゲートウェイはVPC上のEC2などがインターネット通信をするために必要です。EC2などがインターネットゲートウェイを経由してインターネット通信するにはルートテーブル（後述）にて明示的に設定する必要があります。</p>

        <a href="/awswords/words-4.png" data-lightbox="words-4" data-title=""><img src="/awswords/words-4.png" alt=""></a>

        <a href="/awswords/words-5.png" data-lightbox="words-5" data-title=""><img src="/awswords/words-5.png" alt=""></a>

        <h3>ルートテーブル<a id="word9"></a></h3>
        <p>VPC内で発生する通信に対してルーティング設定を行う機能です。ルーティング設定とはネットワーク内（VPC内）において「パケットをどこに送信するか」を定義したものです。例えばEC2がインターネットへの通信が必要な場合、宛先：0.0.0.0/0（全てのIPを表しています）転送先：インターネットゲートウェイのIDを指定する必要があります。
        </p>

        <a href="/awswords/words-6.png" data-lightbox="words-6" data-title=""><img src="/awswords/words-6.png" alt=""></a>

        <h2>Amazon Elastic Compute Cloud (EC2)</h2>
        <h3>EC2とは<a id="word10"></a></h3>
        <p>AWSが提供する仮想サーバです。私たち利用者はAWSマネジメントコンソールを通して必要なスペックのサーバを必要な台数分だけ起動することが出来ます。EC2は仮想サーバのことをインスタンスと呼びますのでこの呼び方にも慣れておきましょう。</p>

        <h3>インスタンスタイプ<a id="word11"></a></h3>
        <p>AWSで用意されているスペックの組み合わせのことです。CPU数、メモリ容量などの組み合わせが様々な種類で準備されています。私たちユーザは構築するシステムの要件に応じて最適なインスタンスタイプを選択することが出来ます。</p>

        <h3>AMI<a id="word12"></a></h3>
        <p>AWSが提供するOSの種類、プリインストールされているミドルウェアの組み合わせで提供されています。AMIも様々な種類で提供されているので私たちユーザは構築するシステムの要件に応じて最適なAMIを選択することが出来ます。またAMIは自身で作成することも可能です。システムに最適化されたAMIを作成することが出来るため変更が反映された状態でEC2インスタンスを起動できます。</p>

        <h3>EBS<a id="word13"></a></h3>
        <p>EC2インスタンスに外付けで接続されるストレージです。外付けのためEC2から独立して管理されています。仮にEC2インスタンスを停止してもEBSのデータは削除されません。</p>

        <h3>EIP<a id="word14"></a></h3>
        <p>固定グローバルIPアドレスのことです。</p>

        <h3>セキュリティグループ<a id="word15"></a></h3>
        <p>EC2インスタンスに対するアクセスを制限する機能です。デフォルトでは全てのアクセスが拒否されており、ユーザは利用したいトラフィックのみAWS管理コンソールから許可します。</p>

        <a href="/awswords/words-7.png" data-lightbox="words-7" data-title=""><img src="/awswords/words-7.png" alt=""></a>

        <a href="/awswords/words-8.png" data-lightbox="words-8" data-title=""><img src="/awswords/words-8.png" alt=""></a>

        <h3>鍵認証<a id="word16"></a></h3>

        <h3>キーペア<a id="word17"></a></h3>
        <p>EC2インスタンスにログインする際にユーザ名とパスワードの組み合わせによる認証（ベーシック認証）ではなく鍵認証を行います。<br>キーペアは公開鍵と秘密鍵のセットで発行されます。キーペアを作成すると公開鍵はEC2が管理し秘密鍵は私たちユーザが管理します。秘密鍵を紛失してしまうと2度とそのEC2インスタンスにはログイン出来ないため注意が必要です。
        </p>

        <h2>Amazon Relational Database Service (RDS)</h2>

        <h3>RDS<a id="word18"></a></h3>
        <p>RDSはAWSが提供する関係データベースのマネージドサービスです。MySQL、PostgreSQL、Oracleなどのエンジンを選択し利用することが出来ます。</p>

        <h3>サブネットグループ<a id="word19"></a></h3>
        <p>異なるAZを2つ以上含んだサブネットの集合です。</p>

        <a href="/awswords/words-9.png" data-lightbox="words-9" data-title=""><img src="/awswords/words-9.png" alt=""></a>

        <h2>Elastic Load Balancing (ELB)</h2>
        <h3>ELB<a id="word20"></a></h3>
        <p>複数のサーバによる冗長構成を構築し、それらのサーバに負荷分散を実施するマネージドサービス。ELBは各種ロードバランサの総称でALB、NLB、CLB、GLBの4つに分類されます。当コースではALBを使用します。</p>

        <h3>Application Load Balancing (ALB)<a id="word21"></a></h3>
        <p>HTTP、HTTPSのトラフィックをサポートする負荷分散サービス。ALBの主な機能にコンテントベースルーティングがあります。これはユーザがアクセスするURL中の文字列を見て判断を行い、事前に定義された振り分け先にルーティングすることが出来ます。</p>

        <h3>ターゲットグループ<a id="word22"></a></h3>
        <p>ALBがインターネットから受信したトラフィックの宛先のことです。Webサーバをこのターゲットグループに登録していないとALBは顧客からのアクセスをWebサーバに配信することが出来ず、顧客がWebサイトを見れない、という事態になってしまいます。またターゲットグループに複数台のWebサーバを登録すると、ターゲットグループ内のサーバを対象に負荷分散をします。</p>

        <a href="/awswords/words-10.png" data-lightbox="words-10" data-title=""><img src="/awswords/words-10.png" alt=""></a>

        <h2>Route53</h2>
        <h3>Route53<a id="word23"></a></h3>
        <p>AWSが提供するマネージドDNSサービスです。稼働率はAWSのSLA上100%です。Route53を使用することでパブリックホストゾーンを定義することができます。</p>

        <h3>レコード（レコードセット）<a id="word24"></a></h3>
        <p>IPアドレスとDNS名を対応付けた表です。例えば私たちはGoogleにアクセスするときはhttps://google.comと入力しますよね？GoogleのIPアドレスを直で入力されている方はいないかと思います。本来であればIPアドレスを入力しなければそのサーバにアクセス出来ません。しかしIPアドレスは数字の羅列のため人間には覚えにくいです。そこでIPアドレスに分かり易い名前をつけることにしました。それがドメイン名です。ホストゾーンはその対応付けを行っています。</p>

        <h3>ホストゾーン<a id="word25"></a></h3>
        <p>複数のレコードをまとめて記載した表です。</p>

        <a href="/awswords/words-11.png" data-lightbox="words-11" data-title=""><img src="/awswords/words-11.png" alt=""></a>

        <h2>CloudFormation</h2>
        <h3>CloudFormation（CFn）<a id="word26"></a></h3>
        <p>CloudFormationはAWSインフラ構成を一式コードで記述し、テンプレート化して、このテンプレートを用いて環境を自動構築することが出来るサービスです。一度テンプレートを作成してしまえば同じ構成の環境を何度でも簡単に構築出来ます。テンプレートはYAMLもしくはJSONで定義出来ます。</p>

        <h3>スタック<a id="word27"></a></h3>
        <p>CloudFormationで定義されるリソースの単位です。CloudFormationではスタック単位で構築されます。</p>

        <a href="/awswords/words-12.png" data-lightbox="words-12" data-title=""><img src="/awswords/words-12.png" alt=""></a>

      </div>
  </div>
</div>