<div class="main contents">
    <div class="container">
        <h1>15.CloudFormation</h1>

        <h2>作業手順</h2>
        <h3>VPC,Subnet,RouteTable,InternetGatewayの作成</h3>
        <ol>
            <li>AWSマネジメントコンソール上から、「CloudFormation」を開く</li>
            <img src="/18_CFn/CFn01.png">
            <li>「スタックの作成」をクリックする</li>
            <img src="/18_CFn/CFn02.png">
            <li>ローカルPCのテキストエディタにて、CloudFormationテンプレートを作成する</li>
            <p>テンプレート名：VPC.yml</p>

            <pre>
                AWSTemplateFormatVersion: "2010-09-09"
                Description: Create VPC
                Parameters:
                  VPCCIDR:
                    Type: String
                    Default: 10.0.0.0/24
                    Description: Default is 10.0.0.0/24.
                  PublicSubnetACIDR:
                    Type: String
                    Default: 10.0.0.0/26
                    Description: Default is 10.0.0.0/26.
                  PravateSubnetACIDR:
                    Type: String
                    Default: 10.0.0.64/26
                    Description: Default is 10.0.0.64/26.
                  PublicSubnetCCIDR:
                    Type: String
                    Default: 10.0.0.128/26
                    Description: Default is 10.0.0.128/26.
                  PravateSubnetCCIDR:
                    Type: String
                    Default: 10.0.0.192/26
                    Description: Default is 10.0.0.192/26.
                Resources:
                  ########## VPC ##########
                  VPC:
                    Type: AWS::EC2::VPC
                    Properties:
                      CidrBlock: !Ref VPCCIDR
                      EnableDnsSupport: "true"
                      EnableDnsHostnames: "true"
                      Tags:
                        - Key: Name
                          Value: VPC
                  ########## Subnet ##########
                  PublicSubnetA:
                    Type: AWS::EC2::Subnet
                    Properties:
                      AvailabilityZone: "ap-northeast-1a"
                      CidrBlock: "10.0.0.0/26"
                      Tags:
                        - Key: Name
                          Value: public-subnet-A
                      VpcId: !Ref VPC
                  PrivateSubnetA:
                    Type: AWS::EC2::Subnet
                    Properties:
                      AvailabilityZone: "ap-northeast-1a"
                      CidrBlock: "10.0.0.64/26"
                      Tags:
                        - Key: Name
                          Value: private-subnet-A
                      VpcId: !Ref VPC
                  PublicSubnetC:
                    Type: AWS::EC2::Subnet
                    Properties:
                      AvailabilityZone: "ap-northeast-1c"
                      CidrBlock: "10.0.0.128/26"
                      Tags:
                        - Key: Name
                          Value: public-subnet-C
                      VpcId: !Ref VPC
                  PrivateSubnetC:
                    Type: AWS::EC2::Subnet
                    Properties:
                      AvailabilityZone: "ap-northeast-1c"
                      CidrBlock: "10.0.0.192/26"
                      Tags:
                        - Key: Name
                          Value: PrivateSubnetC
                      VpcId: !Ref VPC
                  ########## InternetGateway ##########
                  myInternetGateway:
                    Type: AWS::EC2::InternetGateway
                    Properties:
                      Tags:
                        - Key: Name
                          Value: InternetGateway
                  Attach:
                    Type: AWS::EC2::VPCGatewayAttachment
                    Properties:
                      InternetGatewayId: !Ref myInternetGateway
                      VpcId: !Ref VPC
                  ########## RouteTable ##########
                  PublicRouteTableA:
                    Type: AWS::EC2::RouteTable
                    Properties:
                      Tags:
                        - Key: Name
                          Value: PublicRouteTableA
                      VpcId: !Ref VPC
                  PravateRouteTableA:
                    Type: AWS::EC2::RouteTable
                    Properties:
                      Tags:
                        - Key: Name
                          Value: PravateRouteTableA
                      VpcId: !Ref VPC
                  PublicRouteTableC:
                    Type: AWS::EC2::RouteTable
                    Properties:
                      Tags:
                        - Key: Name
                          Value: PublicRouteTableC
                      VpcId: !Ref VPC
                  PravateRouteTableC:
                    Type: AWS::EC2::RouteTable
                    Properties:
                      Tags:
                        - Key: Name
                          Value: PravateRouteTableC
                      VpcId: !Ref VPC
                  PublicRouteA:
                    Type: AWS::EC2::Route
                    Properties:
                      DestinationCidrBlock: "0.0.0.0/0"
                      GatewayId: !Ref myInternetGateway
                      RouteTableId: !Ref PublicRouteTableA
                  PublicRouteC:
                    Type: AWS::EC2::Route
                    Properties:
                      DestinationCidrBlock: "0.0.0.0/0"
                      GatewayId: !Ref myInternetGateway
                      RouteTableId: !Ref PublicRouteTableC
                  AssosiatePublicRouteTableA:
                    Type: AWS::EC2::SubnetRouteTableAssociation
                    Properties:
                      RouteTableId: !Ref PublicRouteTableA
                      SubnetId: !Ref PublicSubnetA
                  AssosiatePublicRouteTableC:
                    Type: AWS::EC2::SubnetRouteTableAssociation
                    Properties:
                      RouteTableId: !Ref PublicRouteTableC
                      SubnetId: !Ref PublicSubnetC
                Outputs:
                  VPC:
                    Value: !Ref VPC
                    Export:
                      Name: ExportedVPC
                  PublicSubnetA:
                    Value: !Ref PublicSubnetA
                    Export:
                      Name: ExportedPublicSubnetA
                  PrivateSubnetA:
                    Value: !Ref PrivateSubnetA
                    Export:
                      Name: ExportedPrivateSubnetA
                  PublicSubnetC:
                    Value: !Ref PublicSubnetC
                    Export:
                      Name: ExportedPublicSubnetC
                  PrivateSubnetC:
                    Value: !Ref PrivateSubnetC
                    Export:
                      Name: ExportedPrivateSubnetC
            </pre>

            <li>以下を設定後、右下の「次へ」をクリックする</li>
            <li>・テンプレートの準備完了</li>
            <li>・テンプレートのファイルアップロード</li>
            <li>・ファイルの選択：「VPC.yml」を選択</li>
            <img src="/18_CFn/CFn03.png">
            <li>スタックの名前を「StackForVPC」として、右下の「次へ」をクリックする</li>
            <img src="/18_CFn/CFn04.png">
            <img src="/18_CFn/CFn05.png">
            <li>「スタックオプションの設定」にて、デフォルト設定のまま右下の「次へ」をクリックする</li>
            <img src="/18_CFn/CFn06.png">
            <img src="/18_CFn/CFn07.png">
            <li>設定内容を確認後、右下の「スタックの作成」をクリックする</li>
            <img src="/18_CFn/CFn08.png">
            <img src="/18_CFn/CFn09.png">
            <img src="/18_CFn/CFn10.png">
            <img src="/18_CFn/CFn11.png">
            <li>作成した「StackForVPC」のステータスが「CREATE_IN_PROGRESS」であることを確認</li>
            <img src="/18_CFn/CFn12.png">
            <li>ナビゲーションペインから「スタック」を選択し、「CREATE_COMPLETE」を確認する</li>
            <img src="/18_CFn/CFn13.png">
            <li>AWSマネジメントコンソールから、「VPC」をクリックする</li>
            <img src="/18_CFn/CFn14.png">
            <li>ナビゲーションペインから「VPC」を選択し、VPCが作成されていることを確認する</li>
            <img src="/18_CFn/CFn15.png">
            <li>ナビゲーションペインから「サブネット」を選択し、サブネットが作成されていることを確認</li>
            <img src="/18_CFn/CFn16.png">
            <li>※ CloudFormationスタック作成後の構成図</li>
        </ol>

        <h3>SecurityGroupの作成</h3>
        <ol>
            <li>AWSマネジメントコンソールから、「CloudFormation」をクリックする</li>
            <img src="/18_CFn/CFn17.png">
            <li>右上の「スタックの作成」から「新しいリソースを使用（標準）」をクリックする</li>
            <img src="/18_CFn/CFn18.png">
            <li>※CloudFormationテンプレートを作成する</li>
            <li>テンプレート名：SecurityGroup.yml</li>

            <pre>
AWSTemplateFormatVersion: "2010-09-09"
Description: SG for EC2 , RDS , ALB
Resources:
  ########## SecurityGroup for EC2 ##########
  SGforEC2:
    Type: AWS::EC2::SecurityGroup
    Properties:
      GroupDescription: SGforEC2
      GroupName: SGforEC2
      SecurityGroupIngress:
        - IpProtocol: tcp
          FromPort: 22
          ToPort: 22
          CidrIp: XXX.XXX.XXX/32
        - IpProtocol: tcp
          FromPort: 80
          ToPort: 80
          CidrIp: 0.0.0.0/0
      VpcId: !ImportValue ExportedVPC
  ########### SecurityGroup for RDS ##########
  SGforRDS:
    Type: AWS::EC2::SecurityGroup
    Properties:
      GroupDescription: SGforRDS
      GroupName: SGforRDS
      SecurityGroupIngress:
        - IpProtocol: tcp
          FromPort: 3306
          ToPort: 3306
          CidrIp: 10.0.0.10/32
      VpcId: !ImportValue ExportedVPC
  ########### SecurityGroup for ALB ##########
  SGforALB:
    Type: AWS::EC2::SecurityGroup
    Properties:
      GroupDescription: SGforALB
      GroupName: SGforALB
      SecurityGroupIngress:
        - IpProtocol: tcp
          FromPort: 80
          ToPort: 80
          CidrIp: 0.0.0.0/0
      VpcId: !ImportValue ExportedVPC
Outputs:
  SGforEC2:
    Value: !Ref SGforEC2
    Export:
      Name: ExportedSGforEC2
  SGforRDS:
    Value: !Ref SGforRDS
    Export:
      Name: ExportedSGforRDS
  SGforALB:
    Value: !Ref SGforALB
    Export:
      Name: ExportedSGforALB
            </pre>
            <li>※SSH接続の22番ポートのCIDRIPは以下のサイトを用いて取得する</li>
            <a>https://www.cman.jp/network/support/go_access.cgi</a>

            <li>以下を設定後、右下の「次へ」をクリックする</li>
            <li>・テンプレートの準備完了</li>
            <li>・テンプレートのファイルアップロード</li>
            <li>・ファイルの選択：「SecurityGroup.yml」を選択</li>
            <img src="/18_CFn/CFn19.png">
            <li>スタック名に「StackForSecurityGroup」を入力し、右下の「次へ」をクリックする</li>
            <img src="/18_CFn/CFn20.png">
            <li>「スタックオプションの設定」にて、デフォルト設定のまま右下の「次へ」をクリックする</li>
            <img src="/18_CFn/CFn21.png">
            <img src="/18_CFn/CFn22.png">
            <li>設定内容を確認後、右下の「スタックの作成」をクリックする</li>
            <img src="/18_CFn/CFn23.png">
            <img src="/18_CFn/CFn24.png">
            <img src="/18_CFn/CFn25.png">
            <img src="/18_CFn/CFn26.png">
            <li>ステータスが「CREATE_IN_PROGRESS」であることを確認する</li>
            <img src="/18_CFn/CFn27.png">
            <li>ナビゲーションペインから「スタック」を選択し、「CREATE_COMPLETE」を確認する</li>
            <img src="/18_CFn/CFn28.png">
            <li>※ CloudFormationスタック作成後の構成図</li>
        </ol>

        <h3>EC2の作成</h3>
        <ol>
            <li>「スタックの作成」から「新しいリソースを使用（標準）」をクリックする</li>
            <img src="/18_CFn/CFn29.png">
            <li>※CloudFormationテンプレートを作成する</li>
            <li>テンプレート名：EC2.yml</li>
            <pre>
AWSTemplateFormatVersion: 2010-09-09
Description: Create EC2
Resources:
  ########## EC2 instance ##########
  myEC2Instance:
    Type: AWS::EC2::Instance
    Properties:
      ImageId: "ami-06098fd00463352b6"
      KeyName: "EC2-Key"
      SubnetId: !ImportValue ExportedPublicSubnetA
      InstanceType: "t2.micro"
      PrivateIpAddress: "10.0.0.10"
      SecurityGroupIds:
        - !ImportValue ExportedSGforEC2
      UserData:
        Fn::Base64: |
          #!/bin/bash
          sudo yum -y update
          sudo yum -y install mysql
          sudo yum -y install httpd
          sudo service httpd start
      BlockDeviceMappings:
        - DeviceName: "/dev/sdm"
          Ebs:
            VolumeType: "gp2"
            DeleteOnTermination: "true"
            VolumeSize: "8"
  ########## Elastic IP ##########
  myEIP:
    Type: AWS::EC2::EIP
    Properties:
      InstanceId: !Ref myEC2Instance
  AssosiateEIP:
    Type: AWS::EC2::EIPAssociation
    Properties:
      EIP: !Ref myEIP
      InstanceId: !Ref myEC2Instance
Outputs:
  EC2instance:
    Value: !Ref myEC2Instance
    Export:
      Name: ExportedEC2instance
            </pre>

            <li>以下を設定後、右下の「次へ」をクリックする</li>
            <li>・テンプレートの準備完了</li>
            <li>・テンプレートのファイルアップロード</li>
            <li>・ファイルの選択：「EC2.yml」を選択</li>
            <img src="/18_CFn/CFn30.png">
            <li>スタック名に「StackForEC2」を入力後、右下の「次へ」をクリックする</li>
            <img src="/18_CFn/CFn31.png">
            <li>「スタックオプションの設定」にて、デフォルト設定のまま右下の「次へ」をクリックする</li>
            <img src="/18_CFn/CFn32.png">
            <img src="/18_CFn/CFn33.png">
            <li>設定内容を確認後、右下の「スタックの作成」をクリックする</li>
            <img src="/18_CFn/CFn34.png">
            <img src="/18_CFn/CFn35.png">
            <img src="/18_CFn/CFn36.png">
            <img src="/18_CFn/CFn37.png">
            <li>ステータスが「CREATE_IN_PROGRESS」であることを確認する</li>
            <li>ステータスが「CREATE_COMPLETE」であることを確認する</li>

            <p>同様の手順で残りのリソースを作成する</p>

            <h3>RDSを作成する</h3>
            <p>テンプレート名:RDS.yml</p>
            <p>スタックの名前:StackForRDS</p>
            <pre>
AWSTemplateFormatVersion: 2010-09-09
Description: Create RDS
Resources:
      ########## Subnet Group ##########
      SubnetGroup:
            Type: AWS::RDS::DBSubnetGroup
            Properties:
                  DBSubnetGroupDescription: test create
                  DBSubnetGroupName: RDS Subnet Group
                  SubnetIds:
                        - !ImportValue ExportedPrivateSubnetA
                        - !ImportValue ExportedPrivateSubnetC
      ########## RDS MySQL instance ##########
      myRDSinstance:
            Type: AWS::RDS::DBInstance
            Properties:
                  AllocatedStorage: "30"
                  AvailabilityZone: "ap-northeast-1a"
                  DBInstanceClass: "db.t2.micro"
                  DBInstanceIdentifier: wordpress
                  DBName: wordpress
                  DBSubnetGroupName: !Ref SubnetGroup
                  Engine: "MySQL"
                  EngineVersion: "8.0.20"
                  MasterUsername: "wordpress"
                  MasterUserPassword: "任意のパスワード"
                  MultiAZ: "false"
                  Port: "3306"
                  PubliclyAccessible: "false"
                  VPCSecurityGroups:
                        - !ImportValue ExportedSGforRDS
            </pre>
            <p>※MasterUserPasswordには任意のパスワードをご自身で設定してください</p>

            <h3>ALBを作成する</h3>
            <p>テンプレート名：ALB.yml</p>
            <p>スタックの名前:StackForALB</p>
            <pre>
AWSTemplateFormatVersion: 2010-09-09
Description: ALB
Resources:
  ########## TargetGroup ##########
  TargetGroup:
    Type: AWS::ElasticLoadBalancingV2::TargetGroup
    Properties:
      HealthCheckPort: 80
      HealthCheckProtocol: HTTP
      Matcher:
        HttpCode: 200
      Name: wordpress-target-group
      Port: 80
      Protocol: HTTP
      Targets:
        - Id: !ImportValue ExportedEC2instance
          Port: 80
      TargetType: instance
      VpcId: !ImportValue ExportedVPC
  ########## ALB ##########
  ALB:
    Type: AWS::ElasticLoadBalancingV2::LoadBalancer
    Properties:
      IpAddressType: ipv4
      Name: wordpress-ALB
      Scheme: internet-facing
      SecurityGroups:
        - !ImportValue ExportedSGforALB
      Subnets:
        - !ImportValue ExportedPublicSubnetA
        - !ImportValue ExportedPublicSubnetC
      Type: application
  ########### Listener ##########
  Listener:
    Type: AWS::ElasticLoadBalancingV2::Listener
    Properties:
      DefaultActions:
        - TargetGroupArn: !Ref TargetGroup
          Type: forward
      LoadBalancerArn: !Ref ALB
      Port: 80
      Protocol: HTTP
            </pre>

            <h3>ホストゾーンを作成する</h3>
            <p>テンプレート名：HostZone.yml</p>
            <p>スタックの名前:StackForHostzone</p>
            <pre>
AWSTemplateFormatVersion: 2010-09-09
Description: Hostzone
Resources:
  ########## Hostzone ##########
  Hostzone:
    Type: AWS::Route53::HostedZone
    Properties:
      Name: "取得したドメイン名."
Outputs:
  Hostzone:
    Value: !Ref Hostzone
    Export:
      Name: ExportedHostzone
            </pre>
            <p>Nameには取得したドメインを入力する</p>

            <h3>レコードセットを作成する</h3>
            <p>テンプレート名：RecordSet.yml</p>
            <p>スタックの名前:StackForRecordSet</p>
            <pre>
AWSTemplateFormatVersion: 2010-09-09
Description: Hostzone

Parameters:
  ALBDNSName:
    Type: String
    Description: Enter Your ALB DNS Name.

  ALBHostzone:
    Type: String
    Description: Enter Your ALB Hostzone.

Resources:

########## RecordSet ##########

  RecordSet:
      Type: AWS::Route53::RecordSet
      Properties: 
        AliasTarget:
          DNSName: !Ref ALBDNSName
          HostedZoneId: !Ref ALBHostzone
        HostedZoneId: !ImportValue ExportedHostzone
        Name: www.取得したドメイン名.
        Type: A
            </pre>
            <p>Nameには「www.取得したドメイン」の書式で記載する</p>

            <h3>DBのユーザを作成する</h3>
            <p>EC2インスタンスにSSH接続する</p>
            <p>$ mysql -h RDSエンドポイント -u wordpress -p</p>
            <p>Enter password：ご自身で設定したパスワードを入力</p>
            <p>mysql> GRANT ALL PRIVILEGES ON wordpress.* TO wordpress;</p>
            <p>mysql> FLUSH PRIVILEGES;</p>
            <p>mysql> quit</p>
            <p>$ sudo service httpd start</p>

            <h3>WordPressの設定</h3>
            <p>「8.WordPressの設定をする」の手順を参考にしてWordPressの設定をする</p>
    
            <h3>ドメインの設定</h3>
            <p>「11.ホストゾーン作成」の手順を参考にしてWordPressの設定をする</p>
        
        </ol>

        <h2>解説</h2>
        CloudFormation：AWSのシステム構成をテンプレート化し、構成管理を容易にするサービス
        テンプレート：スタックを構成するAWSリソースの宣言。JSON or YAMLで記述する
        スタック：単一のユニットとして管理可能なAWSリソースのコレクション
        AWSTemplateFormatVersion：CloudFormationテンプレートバージョン
        Description：テンプレートの説明
        Parameters：テンプレートに渡すことが出来る値
        Outputs；スタック構築後に出力させたい値
        Resources：スタックを構成するAWSリソースとプロパティ
        <div class="button">
          <a href="./deleteresource.html" class="btn btn--green btn--cubic btn--shadow">戻る</a>
          <a href="./others.html" class="btn btn--orange btn--cubic btn--shadow">次へ</a>
        </div>
    </div>
</div>