<div class="main contents">
    <div class="container">
        <h1>14.リソース削除</h1>

        <h2>作業手順</h2>
        <ol>
            <li>アクティブなリソースの確認方法</li>
            <li>ナビゲーションペインから、「請求」を選択</li>
            <li>「サービス別の請求の詳細」セクションを確認</li>
            <li>AWSマネジメントコンソールから「CloudWatch」を開く</li>
            <img src="/14-1_リソース削除/14-1_リソース削除①.png">
            <li>ナビゲーションペインから「ルール」を選択する</li>
            <li>「EC2-Stop-Rule」を選択し、「アクション」から「削除」をクリックする</li>
            <img src="/14-1_リソース削除/14-1_リソース削除②.png">
            <img src="/14-1_リソース削除/14-1_リソース削除③.png">
            <li>「削除」をクリックする</li>
            <img src="/14-1_リソース削除/14-1_リソース削除④.png">
            <li>ルールが設定されていないことを確認する</li>
            <img src="/14-1_リソース削除/14-1_リソース削除⑤.png">
            <li>AWSマネジメントコンソール上から「Lambda」をクリックする</li>
            <img src="/14-1_リソース削除/14-1_リソース削除⑥.png">
            <li>「関数」から「EC2-Stop」を選択し、「アクション」で「削除」をクリックする</li>
            <img src="/14-1_リソース削除/14-1_リソース削除⑦.png">
            <li>「削除」をクリックする</li>
            <img src="/14-1_リソース削除/14-1_リソース削除⑧.png">
            <li>「EC2-Stop」が正常に削除されたことを確認後、「関数」が残っていないことを確認する</li>
            <img src="/14-1_リソース削除/14-1_リソース削除⑨.png">
            <li>AWSマネジメントコンソール上から「S3」をクリックする</li>
            <img src="/14-1_リソース削除/14-1_リソース削除⑩.png">
            <li>前手順で作成したS3バケット（例ではtest-s3-20210415）をクリックする</li>
            <img src="/14-1_リソース削除/14-1_リソース削除11.png">
            <li>「index.html」を選択し、「削除」をクリックする</li>
            <img src="/14-1_リソース削除/14-1_リソース削除12.png">
            <li>「完全に削除」を入力後、右下の「オブジェクトの削除」をクリックする</li>
            <img src="/14-1_リソース削除/14-1_リソース削除13.png">
            <li>正常に削除されたことを確認後、「閉じる」をクリックする</li>
            <img src="/14-1_リソース削除/14-1_リソース削除14.png">
            <li>ナビゲーションペインから「バケット」をクリックする</li>
            <img src="/14-1_リソース削除/14-1_リソース削除15.png">
            <li>「バケット」を選択後、右上の「削除」をクリックする</li>
            <img src="/14-1_リソース削除/14-1_リソース削除16.png">
            <li>バケット名を入力後、右下の「バケットを削除」をクリックする</li>
            <img src="/14-1_リソース削除/14-1_リソース削除17.png">
            <li>バケットが正常に削除されたことを確認する</li>
            <img src="/14-1_リソース削除/14-1_リソース削除18.png">
            <li>AWSマネジメントコンソールから「Route53」をクリックする</li>
            <img src="/14-1_リソース削除/14-1_リソース削除19.png">
            <li>Route53 ダッシュボードから、「ホストゾーン」をクリックする</li>
            <img src="/14-1_リソース削除/14-1_リソース削除20.png">
            <li>ドメイン名をクリックする</li>
            <img src="/14-1_リソース削除/14-1_リソース削除21.png">
            <li>Aレコードのレコード名を選択し、「レコードを削除」をクリックする</li>
            <img src="/14-1_リソース削除/14-1_リソース削除22.png">
            <li>「削除」をクリックする</li>
            <img src="/14-1_リソース削除/14-1_リソース削除23.png">
            <li>レコードが正常に削除されたことを確認後、「ゾーンを削除する」をクリックする</li>
            <img src="/14-1_リソース削除/14-1_リソース削除24.png">
            <li>「削除」を入力後、右下の「削除」をクリックする</li>
            <img src="/14-1_リソース削除/14-1_リソース削除25.png">
            <li>ホストゾーンが正常に削除されたことを確認する</li>
            <img src="/14-1_リソース削除/14-1_リソース削除26.png">
            <li>AWSマネジメントコンソールから「EC2」を選択する</li>
            <img src="/14-1_リソース削除/14-1_リソース削除27.png">
            <li>ナビゲーションペインから「ロードバランサー」を選択し、「削除」をクリックする</li>
            <img src="/14-1_リソース削除/14-1_リソース削除28.png">
            <li>「削除」をクリックする</li>
            <img src="/14-1_リソース削除/14-1_リソース削除29.png">
            <li>正常に削除されていることを確認する</li>
            <img src="/14-1_リソース削除/14-1_リソース削除30.png">
            <li>ナビゲーションペインから「ターゲットグループ」を選択し、「Delete」を選択する</li>
            <img src="/14-1_リソース削除/14-1_リソース削除31.png">
            <li>「Yes, delete」をクリックする</li>
            <img src="/14-1_リソース削除/14-1_リソース削除32.png">
            <li>ターゲットグループが正常に削除されていることを確認する</li>
            <img src="/14-1_リソース削除/14-1_リソース削除33.png">
            <li>AWSマネジメントコンソールから「RDS」をクリックする</li>
            <img src="/14-1_リソース削除/14-1_リソース削除34.png">
            <li>ナビゲーションペインから「データベース」を選択後、「testRDS」を削除する</li>
            <img src="/14-1_リソース削除/14-1_リソース削除35.png">
            <li>「最終スナップショットを作成しますか？」のチェックを外し、「〜利用不可となることを了承しました。」にチェックを入れ、「deleteme」を入力後、「削除」をクリックする</li>
            <img src="/14-1_リソース削除/14-1_リソース削除36.png">
            <li>削除が開始されていることを確認する</li>
            <img src="/14-1_リソース削除/14-1_リソース削除37.png">
            <li>正常に削除されたことを確認する</li>
            <img src="/14-1_リソース削除/14-1_リソース削除38.png">
            <li>AWSマネジメントコンソールから、「EC2」をクリックする</li>
            <img src="/14-1_リソース削除/14-1_リソース削除39.png">
            <li>ナビゲーションペインから「インスタンス」を選択し、「インスタンスを終了」を選択する</li>
            <img src="/14-1_リソース削除/14-1_リソース削除40.png">
            <li>「終了」をクリックする</li>
            <img src="/14-1_リソース削除/14-1_リソース削除41.png">
            <li>インスタンスが正常終了していることを確認する</li>
            <img src="/14-1_リソース削除/14-1_リソース削除42.png">
            <li>ナビゲーションペインから「セキュリティグループ」を選択し、表示されている全てのセキュリティグループを選択する</li>
            <img src="/14-1_リソース削除/SG削除1.png">
            <li>画面右上のアクションから「セキュリティグループを削除」を選択する</li>
            <img src="/14-1_リソース削除/SG削除2.png">
            <li>入力欄に「削除」と入力し、右下の削除ボタンをクリックする</li>
            <img src="/14-1_リソース削除/SG削除3.png">
            <li>デフォルトのセキュリティグループ以外のセキュリティグループが削除されたことを確認する</li>
            <img src="/14-1_リソース削除/SG削除4.png">
            <li>AWSマネジメントコンソールから、「VPC」をクリックする</li>
            <img src="/14-1_リソース削除/14-1_リソース削除43.png">
            <li>「インターネットゲートウェイ」を選択し、「VPCからデタッチ」をクリックする</li>
            <img src="/14-1_リソース削除/14-1_リソース削除44.png">
            <li>「インターネットゲートウェイのデタッチ」をクリックする</li>
            <img src="/14-1_リソース削除/14-1_リソース削除45.png">
            <li>「インターネットゲートウェイの削除」をクリックする</li>
            <img src="/14-1_リソース削除/14-1_リソース削除46.png">
            <li>「削除」を入力後、「インターネットゲートウェイの削除」をクリックする</li>
            <img src="/14-1_リソース削除/14-1_リソース削除47.png">
            <li>インターネットゲートウェイが削除されたことを確認する</li>
            <img src="/14-1_リソース削除/14-1_リソース削除48.png">
            <li>「ルートテーブル」から、「test-RouteTable」の「サブネットの関連付けの編集」を選択</li>
            <img src="/14-1_リソース削除/14-1_リソース削除49.png">
            <li>サブネットの選択を外し、「保存」をクリックする</li>
            <img src="/14-1_リソース削除/14-1_リソース削除50.png">
            <li>「test-routeTable」を選択し、「ルートテーブルの削除」をクリックする</li>
            <img src="/14-1_リソース削除/14-1_リソース削除51.png">
            <li>「ルートテーブルの削除」をクリックする</li>
            <img src="/14-1_リソース削除/14-1_リソース削除52.png">
            <li>「test-routeTable」が削除されたことを確認する</li>
            <img src="/14-1_リソース削除/14-1_リソース削除53.png">
            <li>「サブネット」を全て選択し、「アクション」から「サブネットを削除」をクリックする</li>
            <img src="/14-1_リソース削除/14-1_リソース削除54.png">
            <li>「削除」を入力後、右下の「削除」をクリックする</li>
            <img src="/14-1_リソース削除/14-1_リソース削除55.png">
            <li>サブネットが正常に削除されたことを確認する</li>
            <img src="/14-1_リソース削除/14-1_リソース削除56.png">
            <li>「VPC」から「test-VPC」を削除する</li>
            <img src="/14-1_リソース削除/14-1_リソース削除57.png">
            <li>「削除」を入力し、右下の「削除」をクリックする</li>
            <img src="/14-1_リソース削除/14-1_リソース削除58.png">
            <li>VPCが削除されたことを確認する</li>
            <img src="/14-1_リソース削除/14-1_リソース削除59.png">
        </ol>
        <p>以上</p>
    </div>
</div>