<div class="main contents">
    <div class="container">
        <h1>10.ドメインを取得する</h1>

        <h2>作業手順</h2>
        <ol>
            <li>ブラウザ上から、以下サイトにアクセスし、「Services」> Register a New Domainをクリックする</li>
            <a>https://my.freenom.com/</a>
            <img src="/13_domain/domain01.png">
            <li>（取得したいドメイン）.mlを入力し、「Check Availability」をクリックする　例：test-wordpress.ml</li>
            <img src="/13_domain/domain02.png">
            <li>「Selected」であることを確認し、「Checkout」をクリックする</li>
            <img src="/13_domain/domain03.png">
            <li>「Period」欄が「3 Months @ FREE」であることを確認し、「Continue」をクリックする</li>
            <img src="/13_domain/domain04.png">
            <li>Emailアドレス or Google / FaceBookいずれかの方法で認証を行う</li>
            <img src="/13_domain/domain05.png">
            <li>※Emailの場合、メール受信後、認証を行う</li>
            <img src="/13_domain/domain06.png">
            <li>詳細情報について入力し、右下の「Complete Order」をクリックする</li>
            <img src="/13_domain/domain07.png">
            <img src="/13_domain/domain08.png">
            <li>「Order Confirmation」画面が表示されることを確認し、右上の「Services」から「My Domains」をクリックする</li>
            <img src="/13_domain/domain09.png">
            <li>必要情報を入力し、ログインを実施する</li>
            <img src="/13_domain/domain10.png">
            <li>「My Domains」から、ドメインが取得出来ていることを確認する</li>
            <img src="/13_domain/domain11.png">
        </ol>

        <h2>解説</h2>
        <p>ドメイン：インターネット上の住所表示</p>
        <p>DNS：ドメインとIPアドレスを対応付けて管理する仕組み</p>
        <div class="button">
            <a href="./alb.html" class="btn btn--green btn--cubic btn--shadow">戻る</a>
            <a href="./hostzone.html" class="btn btn--orange btn--cubic btn--shadow">次へ</a>
        </div>
    </div>
</div>