<div class="main contents">
    <div class="container">
        <h1>EC2にWordPressをデプロイする</h1>

        <h2>作業手順</h2>
        <ol>
            <li>AWSマネジメントコンソール上から「EC2」をクリックする</li>
            <li>ナビゲーションペインから「インスタンス」を選択し、「Elastic IP」をコピーする</li>
            <li>ターミナルエミュレータを開く　※Macの場合：ターミナル　※WIndowsの場合：Tera Term</li>
            <li>ターミナルエミュレータで以下コマンドを入力し、「EC2-key.pem」が存在することを確認</li>
            <pre>
                <code>
                $ cd ~/Downloads
                $ ls -l
                </code>
            </pre>
            <li>以下コマンドを入力し、EC2インスタンスにSSH接続する</li>
                <pre>
                    <code>
                        $ chmod 600 EC2-key.pem
                        $ ssh -I EC2-key.pem ec2-user@ElasticIPアドレス
                    </code>
                </pre>
            <p>※Are you sure you want to continue connecting (yes/no/[fingerprint])? yes　← 選択</p>
            <li>EC2インスタンスにSSH接続後、以下コマンドを入力する</li>
            <pre>
                <code>
                    $ sudo yum -y update
                    $ sudo yum -y install mysql
                </code>
            </pre>
            <li>AWSマネジメントコンソールから、「RDS」をクリックする</li>
            <li>ナビゲーションペインから、「データベース」を選択し、「wordpress」をクリックする</li>
            <li>「wordpress」のエンドポイントをコピーする</li>
            <li>ターミナル上から、以下コマンドを実行する</li>
            <pre>
                <code>
                    $ mysql -h RDSエンドポイント -u wordpress -p
                    Enter password：設定したパスワードを入力
                    mysql> GRANT ALL PRIVILEGES ON wordpress.* TO wordpress;
                    mysql> FLUSH PRIVILEGES;
                    mysql> quit
                    $ sudo yum install -y httpd
                    $ sudo service httpd start
                </code>
            </pre>
            <li>AWSマネジメントコンソールから、「EC2」を開く</li>
            <li>EC2コンソールから、「Elastic IP」をコピーする</li>
            <li>ブラウザ上で「Elastic IP」にアクセスし、以下ページが表示されることを確認する</li>
            <img src="/10_EC2deploy/EC2deploy19.png">
        </ol>

        <h2>解説</h2>
        <p>APACHE：世界中で仕様されているWebサーバーソフトウェア（HTTPサーバー）</p>
        <p>Yum：LinuxのRedHat系ディストリビューションで利用されるパッケージ管理ツール</p>
        <p>Linuxディストリビューション：Linuxが配布される形態のこと</p>
        <p>RHEL：Red Hat社が提供する有料のLinuxディストリビューション</p>
        <p>Wordpress：サイト作成などを可能にするコンテンツ管理システムの１つで無料のソフトウェア</p>
        <p>httpd：HTTPを扱うデーモン</p>
        <p>デーモン：一度起動されると常にメモリに留まって要求に応じて動作する常駐プログラム</p>
        <div class="button">
            <a href="./rds.html" class="btn btn--green btn--cubic btn--shadow">戻る</a>
            <a href="./wordpress.html" class="btn btn--orange btn--cubic btn--shadow">次へ</a>
        </div>
    </div>
</div>



