<div class="main posts-index">
    <div class="container">
        <div class="article">
            <h1>目標を確認する</h1>
            <p>本ハンズオンを通して以下の構成のWordPressシステムを構築することを目標とする</p>
            <a href="/goal.png" data-lightbox="abc" data-title="桜写真拡大">
            <img src="/goal.png" alt="桜写真">
            </a>

            <p>AWSマネジメントコンソールから各リソース毎に構築をし、最後にはCloudFormationによる自動構築を実施する。</p>
        </div>
        <div class="button">
            <a href="./account.html" class="btn btn--orange btn--cubic btn--shadow">次へ</a>
        </div>
    </div>
</div>

