<div class="main contents">
    <div class="container">
        <h1>セキュリティ初期設定</h1>

        <h2>作業手順</h2>

        <h3>1.rootユーザのアクセスキー削除</h3>
        <ol>
            <li>AWSマネジメントコンソール右上の「アカウント名」> 「マイセキュリティ情報」を選択</li>
            <li>アクセスキー（アクセスキーIDとシークレットアクセスキー）のアクション欄から削除を選択</li>
        </ol>
        
        <h3>2.rootユーザのMFA認証</h3>
        <ol>
            <li>AWSマネジメントコンソール右上の「アカウント名」> 「マイセキュリティ情報」を選択</li>
            <li>多要素認証（MFA）> 「MFAの有効化」を選択</li>
            <li>「仮想MFAデバイス」を選択</li>
            <li>スマートフォンで「仮想MFAアプリ」を起動後、QRコードをスキャンし、MFAコードを入力</li>
        </ol>

        <h3>3.パスワードポリシー変更</h3>
        <ol>
            <li>AWSマネジメントコンソールにサインインし、IAMコンソールを開く</li>
            <li>ナビゲーションペインから「アカウント設定」を選択する</li>
            <li>「パスワードポリシー」セクションから「Change」を選択する</li>
            <li>パスワードポリシーの要件を任意のルールに変更する</li>
        </ol>
        
        <h3>4.IAMグループ作成</h3>
        <ol>
            <li>AWSマネジメントコンソールにサインインし、IAMコンソールを開く</li>
            <li>ナビゲーションペインから、「グループ」を選択する</li>
            <li>「新しいグループの作成」をクリックする</li>
            <li>「グループ名の設定」セクションで、任意のグループ名を入力する</li>
            <li>「ポリシーのアタッチ」セクションより、任意のポリシーを追加する。※本手順では「AdministratorAccess」を付与する</li>
            <li>「グループ名」「ポリシー」の設定を確認後、右下の「グループ作成」をクリックする</li>
        </ol>
        
        <h3>IAMユーザ作成</h3>
        <ol>
            <li>AWSマネジメントコンソールにサインインし、IAMコンソールを開く</li>
            <li>ナビゲーションペインから、「ユーザー」を選択する</li>
            <li>「ユーザーを追加」をクリックする</li>
            <li>「ユーザ名」に”testuser”を入力し「アクセスの種類」でプログラムによるアクセスを選択</li>
            <li>「アクセス許可の設定」から「ユーザをグループに追加」> 「master」にチェックを入力</li>
            <li>「タグの追加」でキーにuser, 値（オプション）にtestuserを入力する</li>
            <li>「アクセス権限の概要」「タグ」を確認後、右下の「ユーザーの作成」をクリックする</li>
            <li>「ユーザーを追加」セクションでユーザーが正常に作成されていることを確認する</li>
        </ol>
        
        <h3>IAMユーザへ請求情報へのアクセス許可</h3>
        <ol>
            <li>AWSマネジメントコンソール上で「アカウント名」> 「マイアカウント」にアクセスする</li>
            <li>「IAMユーザ/ロールによる請求情報へのアクセス」の編集ボタンをクリックする</li>
            <li>「IAMアクセスのアクティブ化」にチェックを入れて「更新」ボタンをクリックする</li>
            <li>AWSマネジメントコンソールから、IAMコンソールを開く</li>
            <li>ナビゲーションペインから「ポリシー」を選択し、「ポリシーの作成」をクリックする</li>
            <li>「サービスの選択」の検索欄から「Billing」を選択する</li>
            <li>「全てのBillingアクション」をチェックし、右下の「次のステップ」をクリックする</li>
            <li>「タグを追加」について、何も操作せず、右下の「次のステップ」をクリックする</li>
            <li>名前欄に「BillingFullAccess」と入力し、右下の「ポリシーの作成」をクリックする</li>
            <li>ナビゲーションペインから「グループ」を選択し、「新しいグループの作成」をクリックする</li>
            <li>「グループ名の設定」でグループ名に「FinanceManager」を入力する</li>
            <li>「ポリシーのアタッチ」から「BillingFullAccess」を選択し、「次のステップ」に進む</li>
            <li>グループ名・ポリシーを確認し、右下の「グループの作成」をクリックする</li>
            <li>ナビゲーションペインから「ユーザ」を選択し、ユーザ名（testuser）をクリックする</li>
            <li>「グループ」タブを選択し、「ユーザをグループに追加」をクリックする</li>
            <li>「FinanceManager」を選択し、右下の「グループに追加」をクリックする</li>
        </ol>
        
        <h3>CloudWatch 請求アラーム作成</h3>
        <ol>
            <li>AWSマネジメントコンソール上で「CloudWatch」を選択する</li>
            <li>ナビゲーションペインより「アラーム」を選択し、「アラームの作成」をクリックする</li>
            <li>「メトリクスと条件の指定」でメトリクス名に「testCloudWatch」を入力する</li>
            <li>画面下にスクロール後、しきい値の定義欄に「100USD」を入力する</li>
            <li>「アクションの設定」で「新しいトピックの作成」を選択し、「トピック名」「Eメールアドレス」を入力後、「トピックの作成」をクリックする</li>
            <li>「既存のSNSトピックを選択」をチェック後、右下の「次へ」をクリックする</li>
            <li>「名前と説明を追加」でアラーム名に「testAlarm」を入力し、「次へ」をクリックする</li>
            <li>「プレビューと作成」にて、設定内容を確認後、右下の「アラームの作成」をクリックする</li>
        </ol>
        
        <h3>Cost Explorer有効化</h3>
        <ol>
            <li>AWSマネジメントコンソールから「アカウント名」> 「マイ請求ダッシュボード」を選択</li>
            <li>ナビゲーションペインより「Cost Explorer」を選択する</li>
            <li>「Cost Explorerを起動」をクリックする</li>
        </ol>
        
        <h3>通貨をJPYに変更</h3>
        <ol>
            <li>AWSマネジメントコンソールより「アカウント名」> 「マイ請求ダッシュボード」を選択</li>
            <li>ナビゲーションペインより「お支払い方法」を選択する</li>
            <li>「お支払いをする」左横の「USD」をクリックする</li>
            <li>「お支払い通貨の設定」の「編集」ボタンをクリックする</li>
            <li>「お支払い通貨の設定」から「JPY - Japanese Yen」を選択し、「更新」をクリックする</li>
        </ol>
        
        <h3>CloudTrail有効化</h3>
        <ol>
            <li>AWSマネジメントコンソール上から、「CloudTrail」を選択する</li>
            <li>「証跡の作成」をクリックする</li>
            <li>「証跡名」を入力後、「組織内のすべてのアカウントについて有効化」にチェックを入れる</li>
            <li>AWS KMS エイリアスを入力後、右下の「次へ」をクリックする</li>
            <li>「ログイベントの選択」について、デフォルトの設定で、右下の「次へ」をクリックする</li>
            <li>「確認と作成」で設定内容を確認後、右下の「証跡の作成」をクリックする</li>
        </ol>
        
        <h3>IAMユーザでログイン</h3>
        <ol>
            <li>AWSマネジメントコンソールから「IAMコンソール」を開く</li>
            <li>ナビゲーションペインから「ユーザ」を選択し、「testuser」をクリックする</li>
            <li>「認証情報」タブの「コンソールのパスワード」の「管理」をクリックする</li>
            <li>「コンソールへのアクセス」で「有効化」をクリックする</li>
            <li>「パスワードの設定」で任意のパスワードを入力し、「パスワードにリセットが必要」にチェックを入れて、「適用」をクリックする</li>
            <li>ナビゲーションペインより「ダッシュボード」を選択し、「IAMユーザのサインインURL」をコピーする</li>
            <li>「IAMユーザのサインインURL」にアクセスし、サインインを実施する</li>
            <li>※アカウントエイリアス：</li>
            <li>（例）https://testuser2021.signin.aws.amazon.com/console の場合、「testuser2021」がアカウントエイリアス</li>
        </ol>
        
        <h3>IAMユーザMFA連携</h3>
        <ol>
            <li>AWSマネジメントコンソールから「IAMコンソール」を開く</li>
            <li>ナビゲーションペインから「ユーザ」を選択し、「testuser」をクリックする</li>
            <li>「認証情報」タブの「MFAデバイスの割り当て」の「管理」をクリックする</li>
            <li>「MFAデバイスの管理」より「仮想MFAデバイス」を選択する</li>
            <li>モバイルアプリでQRコードを読み取り、出力されたMFAコードを入力する</li>
            <li>仮想MFAが正常に連携されたことを確認する</li>
        </ol>
        
        
        <h3>【解説】IAM</h3>
        
        <p>IAMユーザー：AWSを利用するアカウントの単位</p>
        <p>IAMポリシー：AWSリソースへの操作権限</p>
        <p>IAMロール：AWSサービスに対して、操作権限を付与するための仕組み</p>
        <p>IAMポリシーについて</p>
        <p>→ 「AWS管理ポリシー」「カスタマー管理ポリシー」「インラインポリシー」の３種類</p>
        <p>AWS管理ポリシー：AWSが提供するIAMポリシー</p>
        <p>カスタマー管理ポリシー：ユーザーが設定するIAMポリシー</p>
        <p>インラインポリシー：特定のIAMユーザ, IAMロール専用のIAMポリシー</p>
        <p>・IAMの使い方</p>
        <p>個々のIAMユーザーを作成する</p>
        <p>IAMユーザーへのアクセス許可を割り当てるためにグループを作成する</p>
        <p>最小限のアクセス権を持つIAMポリシーを作成し、IAMロールにアタッチする</p>
        
    </div>
</div>