<div class="main contents">
    <div class="container">
        <h1>11.ホストゾーン作成</h1>

        <h2>作業手順</h2>
        <ol>
            <li>AWSマネジメントコンソール上から「Route53」を開く</li>
            <img src="/11-1_ホストゾーン作成/11-1_ホストゾーン作成①.png">
            <li>Route53 ダッシュボードから、「ホストゾーンの作成」をクリックする</li>
            <img src="/11-1_ホストゾーン作成/11-1_ホストゾーン作成②.png">
            <li>「ホストゾーンの作成」で以下を設定し、右下の「ホストゾーンの作成」をクリックする</li>
            <table border="1" style="border-collapse: collapse">
                <tr>
                    <th>項目</th>
                    <th>設定値</th>
                </tr>
                <tr>
                    <td>ドメイン名</td>
                    <td>取得したドメイン名</td>
                </tr>
                <tr>
                    <td>タイプ</td>
                    <td>パブリックホストゾーン</td>
                </tr>
            </table>
            <img src="/11-1_ホストゾーン作成/11-1_ホストゾーン作成③-1.png">
            <img src="/11-1_ホストゾーン作成/11-1_ホストゾーン作成③-2.png">
            <li>ホストゾーンが正常に作成されていることを確認する</li>
            <img src="/11-1_ホストゾーン作成/11-1_ホストゾーン作成④.png">
            <li>ブラウザ上から、以下サイトを開き、ログインを行う</li>
            <li>https://my.freenom.com/</li>
            <img src="/11-1_ホストゾーン作成/11-1_ホストゾーン作成⑤.jpeg">
            <li>「Services」から「My Domain」を選択する</li>
            <img src="/11-1_ホストゾーン作成/11-1_ホストゾーン作成⑥.jpeg">
            <li>「Manage Domain」をクリックする</li>
            <img src="/11-1_ホストゾーン作成/11-1_ホストゾーン作成⑦.png">
            <li>「Management Tools」タブをクリックする</li>
            <img src="/11-1_ホストゾーン作成/11-1_ホストゾーン作成⑧.png">
            <li>「Management Tools」から「Nameservers」をクリックする</li>
            <img src="/11-1_ホストゾーン作成/11-1_ホストゾーン作成⑨.png">
            <li>「Use custom nameservers（enter below）」を選択する</li>
            <img src="/11-1_ホストゾーン作成/11-1_ホストゾーン作成10.png">
            <li>前手順で作成したホストゾーンのNSレコード４つをコピーする</li>
            <img src="/11-1_ホストゾーン作成/11-1_ホストゾーン作成11.png">
            <li>NSレコードを「NameServer」に登録し、「Change NameServers」をクリックする</li>
            <img src="/11-1_ホストゾーン作成/11-1_ホストゾーン作成12.png">
            <li>ログイン画面に遷移し、再度ログインを行う</li>
            <img src="/11-1_ホストゾーン作成/11-1_ホストゾーン作成13.jpeg">
            <li>「Services」から「My Domains」をクリックする</li>
            <img src="/11-1_ホストゾーン作成/11-1_ホストゾーン作成14.jpeg">
            <li>「Manage Domain」をクリックする</li>
            <img src="/11-1_ホストゾーン作成/11-1_ホストゾーン作成15.png">
            <li>「Management Tools」から「Nameservers」をクリックする</li>
            <img src="/11-1_ホストゾーン作成/11-1_ホストゾーン作成16.png">
            <li>Nameserverが登録されていることを確認する</li>
            <img src="/11-1_ホストゾーン作成/11-1_ホストゾーン作成17.png">
            <li>AWSマネジメントコンソールから「Route53」をクリックする</li>
            <img src="/11-1_ホストゾーン作成/11-1_ホストゾーン作成18.png">
            <li>「Route53 ダッシュボード」から「ホストゾーン」をクリックする</li>
            <img src="/11-1_ホストゾーン作成/11-1_ホストゾーン作成19.png">
            <li>「ドメイン名」をクリックする　※例：test-wordpress.ml</li>
            <img src="/11-1_ホストゾーン作成/11-1_ホストゾーン作成20.png">
            <li>「レコードを作成」をクリックする</li>
            <img src="/11-1_ホストゾーン作成/11-1_ホストゾーン作成21.png">
            <li>右上の「エイリアス」をオンにする</li>
            <img src="/11-1_ホストゾーン作成/11-1_ホストゾーン作成22.png">

            <table border="1" style="border-collapse: collapse">
                <tr>
                    <th>項目</th>
                    <th>設定値</th>
                </tr>
                <tr>
                    <td>レコード名</td>
                    <td>www.取得したドメイン</td>
                </tr>
                <tr>
                    <td>レコードタイプ</td>
                    <td>A - IPv4アドレス</td>
                </tr>
                <tr>
                    <td>エンドポイントを選択</td>
                    <td>Application Load Blancer</td>
                </tr>
                <tr>
                    <td>リージョンを選択</td>
                    <td>アジアパシフィック（東京）[ap-northeast-1]</td>
                </tr>
                <tr>
                    <td>ロードバランサーを選択</td>
                    <td>前手順で作成したApplication Load Balancer</td>
                </tr>
                <tr>
                    <td>ルーティングポリシー</td>
                    <td>シンプルルーティング</td>
                </tr>
            </table>

            <img src="/11-1_ホストゾーン作成/11-1_ホストゾーン作成23.png">
            <li>右下の「レコードを作成」をクリックする</li>
            <img src="/11-1_ホストゾーン作成/11-1_ホストゾーン作成24.png">
            <li>レコードが正常に作成されたことを確認する</li>
            <img src="/11-1_ホストゾーン作成/11-1_ホストゾーン作成25.png">
            <li>ブラウザ上から「ドメイン」にアクセス後、画面表示されることを確認する</li>
            <img src="/11-1_ホストゾーン作成/11-1_ホストゾーン作成26.png">
        </ol>

        <h2>解説</h2>
        <p>Route53：ドメインをIPアドレスに変換し、トラフィックをルーティングするサービス</p>
        <p>サブドメイン：ドメインの前に文字列を挿入し、用途に応じて分割したドメイン</p>
        <p>サブドメインの例：Yahoo!ショッピング ： https://shopping.yahoo.co.jp/</p>
        <p>ホストゾーン：ドメインとサブドメインのトラフィックのルーティング方法を設定するコンテナ</p>
        <p>エイリアスレコード：AWSリソースにルーティングする際に設定するレコード</p>
        <p>Aレコード：ドメインをIPアドレスに置き換えるレコード</p>
        <p>CNAMEレコード：ドメインに対して、別ドメインを定義するレコード</p>
        <p>MXレコード：メールサーバのホスト名を定義するレコード</p>
        <p>SOAレコード：ドメインのDNSサーバー等の情報を定義するレコード</p>
        <p>NSレコード：権威を持つネームサーバを指定するためのレコード</p>
    </div>
</div>