<div class="main contents">
    <div class="container">

        <h1>AWS用語解説</h1>
        <div data-turbolinks='false'>
            <details id="table-of-content" open>
              <summary>目次</summary>
            </details>
        </div>
        
<h2>EFS</h2>
<p>EFSはシンプルでサーバーレスのファイルシステムです。アプリケーションを停止することなくファイル追加や削除に応じて自動的に拡張/縮小できたり、複数のインスタンスから同時アクセスが可能という特徴があります。</p>

<h2>S3 Glacier</h2>
<p>S3 Glacier は、データのアーカイブと長期バックアップ用のストレージサービスです。長期間コスト効率よくデータを保存でき、ストレージの運用と規模拡大/縮小に伴う管理作業を AWS側が行うので、容量計画、ハードウェアプロビジョニング、データレプリケーション等の管理が不要です。 </p>

<h2>Storage Gateway</h2>
<p>AWS Storage Gateway は、オンプレミスとクラウドベースのストレージを接続し、お客様のオンプレミスの IT 環境と AWS のストレージインフラストラクチャとの間にデータセキュリティ機能を実現するサービスです。このサービスを使用すると、AWS クラウドにデータを保存し、データのセキュリティを維持するために役立つ、スケーラブルで費用効率が高いストレージを利用できます。</p>

<h2>DynamoDB</h2>
<p>Amazon DynamoDB は、完全マネージド型の NoSQL データベースサービス高速で質の高いパフォーマンスとデータ容量が無制限が特徴です。</p>

<h2>ElastiCache</h2>
<p>ElastiCacheは完全マネージド型のインメモリデータストアです。大量のデータを扱うアプリケーションを構築したり、既存のWEBアプリケーションのパフォーマンス向上が可能です。</p>

<h2>Database Migration Service</h2>
<p>Database Migration Serviceはデータベース間でデータを移行できるサービスです。オンプレミスからAWS間、またはAWSからAWSの間で、データベースのデータを継続的に移行できます。</p>

<h2>Server Migration Service</h2>
<p>Server Migration ServiceはオンプレミスのサーバーをAWSに移行できるサービスです。大規模なサーバーの移行作業を従来よりも簡単かつ短時間が実行することが可能となりました。</p>

<h2>CloudFront</h2>
<p>Cloud Frontとは世界150か所以上あるエッジロケーションを使い、低レイテンシーで世界中に安全にコンテンツを配信する高速コンテンツ配信ネットワークサービスです。
最先端のセキュリティ機能を持ち、サーバーから直接配信せずCloudFrontを介してユーザーに配信することでより早く安全に配信することができます。</p>

<h2>Direct Connect</h2>
<p>AWS Direct Connect とはAWSとお客様のデータセンター、オフィス、またはコロケーション環境との間にプライベートネットワーク接続を確立することができます。インターネットベースの接続と比較して、低コストで高セキュリティなサービスを実現できます。</p>

<h2>CodeCommit</h2>
<p>CodeCommitは完全マネージド型のソース管理サービスです。セキュリティと拡張性が高く、チーム間で共同開発を円滑に進めることが可能です。</p>

<h2>CodeBuild</h2>
<p>CodeBuild はクラウドで動作する、完全マネージド型のビルドサービスです。ソースコードをコンパイルし、単体テストを実行して、すぐにデプロイが可能となります。CodeBuildを使うことでビルドサーバーの管理、スケーリングが不要になるというメリットもあります。</p>

<h2>CodeDeploy</h2>
<p>AWS CodeDeployは、さまざまなコンピューティングサービスへのソフトウェアのデプロイを自動化する、完全マネージド型のサービスです。AWS CodeDeploy を使用すると、新しい機能をすばやく簡単にリリースできアプリケーションデプロイ時のダウンタイムを回避します。またデプロイを自動化できるため、手動によるミスがなくなります。</p>

<h2>CodePipeline</h2>
<p>AWS CodePipeline は完全マネージド型の継続的デリバリーサービスです。アプリケーションとインフラストラクチャのアップデートのためのパイプラインのリリースを自動化します。これにより、機能とアップデートを素早く、高い信頼性で配信できます。</p>

<h2>Cloud9</h2>
<p>Cloud9とはクラウドベースのIDE（統合開発環境）です。
統合開発環境とは、テキストエディタ、コンパイラ、デバッガなどソフトウェア開発に欠かせないツールを1つの環境で統一的に扱えるようにしたものです。
ウェブブラウザを通じてアクセスでき複数のプログラミング言語がサポートされておりソフトウェアをクラウドにリリースするのに役立ちます。</p>

<h2>CloudShell</h2>
<p>Cloud Shell は、セットアップすることなくブラウザからアクセスできる、オンラインの開発及び運用環境です。コマンドラインインターフェイスから AWS のサービスを管理するために使用できます。</p>

<h2>AWS Organizations</h2>
<p>AWS Organizationsは環境を一元的に管理することができます。AWS アカウントを作成しリソースを割り当てたり、グループ化してワークフローを整理ができます。また、すべてのアカウントに単一の支払い方法を利用することで請求を簡素化が可能です。</p>

<h2>CloudWatch</h2>
<p>Amazon CloudWatch は、AWSリソースと、AWSでリアルタイムに実行されるアプリケーションの監視サービスです。CloudWatch を使用してリソースの稼働状況、CPUやメモリの使用状況、利用料金の変化などを監視することができます</p>

<h2>AWS Auto Scaling</h2>
<p>AWS Auto Scalingは、安定した予測可能なパフォーマンスを低コストで維持するためにアプリケーションをモニタリングし、容量を自動で調整します。</p>

<h2>CloudFormation</h2>
<p>AWS CloudFormation は AWSリソースのテンプレート化および環境構築に役立つサービスです。使用するすべての AWSリソースを、コード化しテンプレートを作成すれば、それをもとに次に新しい環境構築する際の時間を短縮することができます。またテンプレートを一括管理するためインフラの管理と制御における負担を削減できます。</p>

<h2>CloudTrail</h2>
<p>AWS CloudTrail は、AWS アカウントのガバナンス、コンプライアンス、および運用とリスクの監査を行えるようにする AWS のサービスです。ユーザー、または AWS のサービスによって実行されたアクションは、CloudTrail に記録され、いつ誰が何を実行したのかが明確になります。</p>

<h2>Systems Manager</h2>
<p>Systems ManagerはAWS でインフラストラクチャを表示および制御するために使用できるサービスです。Systems Manager を使用すると、複数の AWS のサービスのオペレーションデータを表示して、AWS間でタスクを自動化することができます。</p>

<h2>Trusted Advisor</h2>
<p>AWS Trusted Advisor は、AWS のベストプラクティスに従うためのガイダンスを提供するフルマネージドサービスです。サービスをモニタリングし、セキュリティとパフォーマンスを向上し、総コストを削減します。</p>

<h2>AWS Well-Architected Tool</h2>
<p>AWS Well-Architected Tool は、クラウドアーキテクトがアプリケーションやワークロード向けに安全で高いパフォーマンス、障害耐性を備えた、効率的なインフラストラクチャの構築をサポートする目的で開発されました。AWS Well-Architected では、5 つの柱（優れた運用効率、セキュリティ、信頼性、パフォーマンス効率、コストの最適化）に基づいてアーキテクチャを評価します。</p>

<h2>Athena</h2>
<p>Athenaは、Amazon S3内のデータを直接分析するクエリサービスです。
データの保存先の Amazon S3に対してSQL を使用してクエリの実行をすることで集計やソートなどの分析を実行することができます。</p>

<h2>Amazon Redshift</h2>
<p>Amazon Redshift は、クラウド内でのフルマネージド型のデータウェアハウスサービスです。数百ギガバイトのデータから開始して、ペタバイト以上まで拡張できます。これにより、大規模なデータ分析可能になります。</p>

<h2>EMR</h2>
<p>Amazon EMR は、ビッグデータフレームワークを使用し AWS 膨大な量のデータを処理および分析します。さらに、Amazon EMR を使用して、大量のデータを変換しAmazon S3 や DynamoDB などの他のAWS データストアやデータベースに移動することができます。</p>

<h2>Kinesis</h2>
<p>Amazon Kinesisはスケーラブルで持続的なリアルタイムのデータストリーミングサービスです。あらゆる規模のストリーミングデータをコスト効率良く処理するための主要機能を提供します。
Amazon Kinesis を使用すると、機械学習、分析、その他のアプリケーションに用いる動画、音声、アプリケーションログなどをリアルタイムで取り込めます。</p>

<h2>Data Pipeline</h2>
<p>AWS Data Pipeline は、オンプレミスやAWSのデータの移動と変換を自動化するために使用するサービスです。Data Pipelineを使用すると、保存場所にあるお客様のデータに定期的にアクセスし、そのスケールで変換と処理を行い、その結果をAWS サービスに効率的に転送できます。</p>

<h2>IAM</h2>
<p>AWS リソースへのアクセスを安全に管理するためのウェブサービスです。IAM を使用して、AWSの利用者や、AWSのサービスがアクセスできる範囲を制御することができます。</p>

<h2>Cognito</h2>
<p>Cognitoはウェブアプリケーションおよびモバイルアプリに素早く簡単にユーザーのサインアップ/サインイン、アクセスコントロールの機能を追加できるサービスです。</p>

<h2>Secrets Manager</h2>
<p>Secrets Managerはアプリケーション、サービス、IT リソースへのアクセスに必要な認証情報の保護をします。ユーザーとアプリケーションは、Secrets Manager API を呼び出して情報を取得しますので、秘密情報をテキストで書き込む必要がなくなります。</p>

<h2>Certificate Manager</h2>
<p>AWS Certificate Manager は、AWS のサービスとお客様の内部接続リソースで使用するパブリックとプライベートの(SSL/TLS) 証明書のプロビジョニング、管理、デプロイを簡単にします。AWS Certificate Manager を使用すれば、SSL/TLS 証明書の購入、アップロード、更新のプロセスを手動で行う必要がなくなります。</p>

<h2>Key Management Service</h2>
<p>AWS Key Management Service（AWS KMS）は、お客様のデータを暗号化するために使用される暗号化キーである カスタマーマスターキー （CMK）を簡単に作成および制御できるマネージドサービスです。</p>

<h2>WAF & Shield</h2>
<p>可用性、セキュリティ侵害、リソースの過剰消費に影響を与えるような、ウェブの脆弱性を利用した一般的な攻撃やボットから、ウェブアプリケーションまたは API を保護するウェブアプリケーションファイアウォールです。</p>

<h2>Step Functions</h2>
<p>AWS Lambda 関数および AWS の複数のサービスをアプリケーション内に簡単に配列することができるサーバーレスの関数オーケストレーターです。アプリケーションの状態を維持する、チェックポイント化されたイベント駆動型の一連のワークフローを作成および実行することができます。</p>

<h2>Simple Notification Service</h2>
<p>Amazon Simple Notification Service (SNS) は、クライアントに対するメッセージの配信および送信を管理するフルマネージド型のウェブサービスです。</p>

<h2>Simple Queue Service</h2>
<p>Amazon Simple Queue Service (SQS) は、完全マネージド型のメッセージキューイングサービスです。SQS を使用すると、あらゆる量のソフトウェアコンポーネント間でメッセージを送信、保存、受信できます。</p>

<h2>AWS Cost Explorer</h2>
<p>AWS Cost Explorerとはリソースの使用状況と、コストを可視化して分析できるサービスです。AWSの利用料と利用料に対するコストを常に把握することができる他に、AWSサービスの使用量、その使用量に対するコストなどのデータを分析して今後3ヶ月のコストの予測ができます。</p>

<h2>AWS Budgets</h2>
<p>AWS Budgets には、予算を設定して、コストまたは使用量が予算額や予算量を超えたとき、あるいは超えると予測されたときにアラートを発信できる機能です。</p>

<h2>Amazon Connect</h2>
<p>Amazon Connectはコンタクトセンター向けのクラウドプラットフォームです。コンタクトセンターの運用を簡素化し、数分でコンタクトセンターをセットアップできます。エージェントの効率を向上させ、コストを削減することができます。</p>

<h2>Amazon Simple Email Service</h2>
<p>Amazon Simple Email Serviceはユーザー自身の E メールアドレスとドメインを使用して E メールを送受信するための、簡単で費用効率の高い方法を提供する E メールプラットフォームです。導入コストが低く、低価格で高い安全性のもとE メールを送信できます。</p>

<h2>WorkSpaces</h2>
<p>WorkSpacesはフルマネージドの永続的なデスクトップ仮想化サービスであり、ユーザーは、サポートされている任意のデバイスから、いつでも、どこでも、必要なデータ、アプリケーションおよびリソースにアクセスできます。Amazon WorkSpaces を使うと、Windows または Linux デスクトップのプロビジョニングが数分で行えます。</p>
<div class="button">
    <a href="./cfn.html" class="btn btn--green btn--cubic btn--shadow">戻る</a>
</div>
</div>
</div>