<div class="main contents">
    <div class="container">
        <h1>RDSの作成</h1>

        <h2>作業手順</h2>
        <h3>6.1.RDSの作成</h3>
        <ol>
            <li>AWSマネジメントコンソールから、「RDS」を開く</li>
                <img src="/9_RDS/RDS01.png">
            <li>「データベースの作成」をクリックする</li>
                <img src="/9_RDS/RDS02.png">
            <li>「データベースの作成」で以下を設定し、右下の「データベースの作成」をクリック</li>

            <table border="1" style="border-collapse: collapse">
                <tr>
                    <th>項目</th>
                    <th>設定値</th>
                </tr>
                <tr>
                    <td>DBインスタンス識別子</td>
                    <td>wordpress</td>
                </tr>
                <tr>
                    <td>マスターユーザー名</td>
                    <td>wordpress</td>
                </tr>
                <tr>
                    <td>パスワード</td>
                    <td>ご自身で任意のパスワードを設定してください</td>
                </tr>
            </table>

                <img src="/9_RDS/RDS03.png">
                <img src="/9_RDS/RDS04.png">
                <img src="/9_RDS/RDS05.png">
                <img src="/9_RDS/RDS06.png">
                <img src="/9_RDS/RDS07.png">
                <img src="/9_RDS/RDS08.png">
                <img src="/9_RDS/RDS09.png">

            <li>データベースが作成中であることを確認する</li>
                <img src="/9_RDS/RDS10.png">
            <li>データベースが正常に作成されたことを確認する</li>
                <img src="/9_RDS/RDS11.png">
        </ol>

        <h2>解説</h2>
        <p>DBインスタンス：クラウド上で実行される独立したデータベース環境</p>
        <p>データベースエンジン：DBMSがデータベースから、データを操作するために使用する基盤のこと</p>
        <p>DBMS：データベースの操作を行う専門のソフトウェア</p>
        <p>RDB：表形式のテーブルを互いに関連付けて関連モデルを使ったデータベース</p>
        <p>MySQL・MariaDBの違い</p>
        <p>MySQL：世界中で多くのシェアを獲得している人気のデータベース管理システム</p>
        <p>MariaDB：MySQLから派生し、近年注目を集めているデータベース管理システム</p>
    </div>
</div>
