<div class="main contents">
    <div class="container">
        <h1>12.S3の作成</h1>

        <h2>作業手順</h2>
        <ol>
            <li>AWSマネジメントコンソール上から、「S3」をクリックする</li>
            <img src="/15_S3/S301.png">
            <li>ナビゲーションペインから「バケット」を選択し、右上の「バケットを作成」を選択する</li>
            <img src="/15_S3/S302.png">
            <li>以下を設定し、右下の「バケットを作成」をクリックする</li>

            <table border="1" style="border-collapse: collapse">
                <tr>
                    <th>項目</th>
                    <th>設定値</th>
                </tr>
                <tr>
                    <td>バケット名</td>
                    <td>世界でユニークな任意の名前</td>
                </tr>
                <tr>
                    <td>AWS リージョン</td>
                    <td>アジアパシフィック（東京）ap-northeast-1</td>
                </tr>
                <tr>
                    <td>バケットのバージョニング</td>
                    <td>無効にする</td>
                </tr>
                <tr>
                    <td>サーバー側の暗号化</td>
                    <td>無効にする</td>
                </tr>
            </table>

            <img src="/15_S3/S303.png">
            <img src="/15_S3/S304.png">
            <img src="/15_S3/S305.png">
            <img src="/15_S3/S306.png">
            <li>バケットが正常に作成されたことを確認後、バケット名をクリックする</li>
            <img src="/15_S3/S307.png">
            <li>「アクセス許可」のタブを開き、バケットポリシー欄の「編集する」をクリックする</li>
            <img src="/15_S3/S308.png">
            <img src="/15_S3/S309.png">
            <li>バケットポリシーを変更し、右下の「変更を保存」をクリックする</li>
            <pre>
                <code>
                    {
                      "Version":"2012-10-17",
                      "Statement":[
                        {
                          "Sid":"PublicRead",
                          "Effect":"Allow",
                          "Principal": "*",
                          "Action":["s3:GetObject","s3:GetObjectVersion"],
                          "Resource":["arn:aws:s3:::作成したS3バケット名/*"]
                        }
                      ]
                    }
                </code>
            </pre>
            <img src="/15_S3/S310.png">
            <img src="/15_S3/S311.png">

            <li>「オブジェクト」タブをクリック後、「アップロード」をクリックする</li>
            <img src="/15_S3/S312.png">
            <li>「ファイルを追加」をクリックする</li>
            <img src="/15_S3/S313.png">
            <li>「index.html」をアップロードする</li>
            <li>index.html → 「12_S3作成」 > 「HTMLファイル」 > 「index.html」</li>
            <li>※index.htmlはローカルPCのエディタで作成する。（index.htmlの中身は何でも良い）</li>
            <img src="/15_S3/S314.png">
            <img src="/15_S3/S315.png">
            <li>アップロードが成功したことを確認後、「閉じる」をクリックする</li>
            <img src="/15_S3/S316.png">
            <li>「プロパティ」タブを開き、「静的ウェブサイトホスティング」の「編集する」を選択</li>
            <img src="/15_S3/S317.png">
            <img src="/15_S3/S318.png">
            <li>以下を選択し、右下の「変更を保存」をクリックする</li>
            <li>静的ウェブサイトホスティング：有効にする</li>
            <li>インデックスドキュメント：index.html</li>
            <img src="/15_S3/S319.png">
            <img src="/15_S3/S320.png">
            <li>正常に編集されたことを確認後、再度「静的ウェブサイトホスティング」欄へ移動する</li>
            <img src="/15_S3/S321.png">
            <img src="/15_S3/S322.png">
            <li>「バケットウェブサイトエンドポイント」記載のURLをクリックする</li>
            <li>アップロードした「index.html」が表示されることを確認する</li>
            <img src="/15_S3/S323.png">
        </ol>

        <h2>解説</h2>
        <p>S3：オブジェクトストレージ</p>
        <p>オブジェクトストレージ：「オブジェクト」単位でデータを管理するストレージ</p>
        <p>ブロックストレージ：「ブロック」単位でデータを管理するストレージ　例：EBS</p>
        <p>ファイルストレージ：「ファイル」単位でデータを管理するストレージ</p>
        <p>バケット：S3に保存するオブジェクトを置いておく入れ物</p>
        <p>バケットポリシー：S3バケットへのアクセス権限の定義</p>
        <p>静的ホスティング：リクエストに対するレスポンスとして、静的ファイル（HTML）を表示する</p>
        <div class="button">
            <a href="./hostzone.html" class="btn btn--green btn--cubic btn--shadow">戻る</a>
            <a href="./lambda.html" class="btn btn--orange btn--cubic btn--shadow">次へ</a>
        </div>        
    </div>
</div>