<div class="main contents">
    <div class="container">
        <h1>SecurityGroupの作成</h1>

        <h2>作業手順</h2>
        <h3>4.1.EC2インスタンス用SecurityGroup（以下SG）の作成</h3>
        <ol>
            <li>AWSマネジメントコンソール上から「EC2」開く</li>
                <img src="/4-1_セキュリティグループ作成/4-1_セキュリティグループ作成①.png">
            <li>ナビゲーションペインから「セキュリティグループ」を選択し、「セキュリティグループの作成」をクリックする</li>
                <img src="/4-1_セキュリティグループ作成/4-1_セキュリティグループ作成②.png">
            <li>「セキュリティグループ名の作成」で以下を設定後、「ルールの追加」をクリックする</li>

                <table border="1" style="border-collapse: collapse">
                    <tr>
                        <th>項目</th>
                        <th>設定値</th>
                    </tr>
                    <tr>
                        <td>セキュリティグループ名</td>
                        <td>SGforEC2</td>
                    </tr>
                    <tr>
                        <td>説明</td>
                        <td>SGforEC2</td>
                    </tr>
                    <tr>
                        <td>VPC</td>
                        <td>test-VPC</td>
                    </tr>
                </table>
                    <img src="/4-1_セキュリティグループ作成/4-1_セキュリティグループ作成③.png">

            <li>「ルールの追加」より、以下2点ルールを追加し、右下の「作成」をクリックする</li>

                <table border="1" style="border-collapse: collapse">
                    <tr>
                        <th>タイプ</th>
                        <th>プロトコル</th>
                        <th>ポート</th>
                        <th>ソース</th>
                        <th>説明</th>
                    </tr>
                    <tr>
                        <td>HTTP</td>
                        <td>TCP</td>
                        <td>80</td>
                        <td>任意の場所(0.0.0.0/0,::/0)</td>
                        <td>なし（空欄）</td>
                    </tr>
                    <tr>
                        <td>SSH</td>
                        <td>TCP</td>
                        <td>22</td>
                        <td>マイIP ※自動入力</td>
                        <td>なし（空欄）</td>
                    </tr>
                </table>

                <img src="/4-1_セキュリティグループ作成/4-1_セキュリティグループ作成④.png">

            <li>「SGforEC2」が作成されたことを確認</li>
            <img src="/4-1_セキュリティグループ作成/4-1_セキュリティグループ作成⑤.png">
        </ol>

        <h3>4.2.RDSインスタンス用SGの作成</h3>
        <ol>
            <li>AWSマネジメントコンソール上から「EC2」開く</li>
            <li>ナビゲーションペインから「セキュリティグループ」を選択し、「セキュリティグループの作成」をクリックする</li>
            <li>「セキュリティグループ名の作成」で以下を設定後、「ルールの追加」をクリックする</li>

                <table border="1" style="border-collapse: collapse">
                    <tr>
                        <th>項目</th>
                        <th>設定値</th>
                    </tr>
                    <tr>
                        <td>セキュリティグループ名</td>
                        <td>SGforRDS</td>
                    </tr>
                    <tr>
                        <td>説明</td>
                        <td>SGforRDS</td>
                    </tr>
                    <tr>
                        <td>VPC</td>
                        <td>test-VPC</td>
                    </tr>
                </table>

                <img src="/4-1_セキュリティグループ作成/4-1_セキュリティグループ作成⑥.png">

            <li>「ルールの追加」より、以下1点ルールを追加し、右下の「作成」をクリックする</li>

                <table border="1" style="border-collapse: collapse">
                    <tr>
                        <th>タイプ</th>
                        <th>プロトコル</th>
                        <th>ポート</th>
                        <th>ソース</th>
                        <th>説明</th>
                    </tr>
                    <tr>
                        <td>MySQL/Aurora</td>
                        <td>TCP</td>
                        <td>3306</td>
                        <td>カスタム 10.0.0.10/32</td>
                        <td>なし（空欄）</td>
                    </tr>
                </table>

                <img src="/4-1_セキュリティグループ作成/4-1_セキュリティグループ作成⑦.png">

            <li>「SGforRDS」が正常に作成されたことを確認</li>
            <img src="/4-1_セキュリティグループ作成/4-1_セキュリティグループ作成⑧.jpeg">
        </ol>

        <h3>4.3.ALB用SGの作成</h3>
        <ol>
            <li>AWSマネジメントコンソール上から「EC2」開く</li>
            <li>ナビゲーションペインから「セキュリティグループ」を選択し、「セキュリティグループの作成」をクリックする</li>
            <li>「セキュリティグループの作成」で以下を設定後、「ルールの追加」をクリックする</li>
            <li>「セキュリティグループ名の作成」で以下を設定後、「ルールの追加」をクリックする</li>

                <table border="1" style="border-collapse: collapse">
                    <tr>
                        <th>項目</th>
                        <th>設定値</th>
                    </tr>
                    <tr>
                        <td>セキュリティグループ名</td>
                        <td>SGforALB</td>
                    </tr>
                    <tr>
                        <td>説明</td>
                        <td>SGforALB</td>
                    </tr>
                    <tr>
                        <td>VPC</td>
                        <td>test-VPC</td>
                    </tr>
                </table>
                <img src="/4-1_セキュリティグループ作成/4-1_セキュリティグループ作成⑨.png">

            <li>「ルールの追加」より、以下2点ルールを追加し、右下の「作成」をクリックする</li>

            <table border="1" style="border-collapse: collapse">
                <tr>
                    <th>タイプ</th>
                    <th>プロトコル</th>
                    <th>ポート</th>
                    <th>ソース</th>
                    <th>説明</th>
                </tr>
                <tr>
                    <td>HTTP</td>
                    <td>TCP</td>
                    <td>80</td>
                    <td>任意の場所(0.0.0.0/0,::/0)</td>
                    <td>なし（空欄）</td>
                </tr>
            </table>

            <img src="/4-1_セキュリティグループ作成/4-1_セキュリティグループ作成10.png">

            <li>「SGforALB」が正常に作成されたことを確認する</li>
            <img src="/4-1_セキュリティグループ作成/4-1_セキュリティグループ作成11.png">
        </ol>

        <h2>解説</h2>
        <p>インバウンドトラフィック：ネットワーク外から、入ってくるデータ</p>
        <p>アウトバウンドトラフィック：ネットワーク内から、外へ出ていくデータ</p>
        <p>ファイアウォール：外部と内部のネットワークの境界線で、不正アクセスを防ぐ</p>
        <p>ステートフル：通信に対する応答は、は自動的に許可される</p>
        <p>ステートレス：通信と応答は、別に評価されるため、個々に設定が必要</p>
        <p>セキュリティグループとネットワークACLの違い①</p>
        <p>セキュリティグループ：EC2, RDS, ALB等のインバウンド・アウトバウンドトラフィックを制御</p>
        <p>ネットワークACL：サブネットのインバウンド・アウトバウンドトラフィックを制御</p>
        <p>セキュリティグループとネットワークACLの違い②</p>
        <p>セキュリティグループ：ステートフル</p>
        <p>ネットワークACL：ステートレス</p>
    </div>
</div>