<div class="main posts-index">
  <div class="container">
    <h1>Elemental-Lab</h1>
    <h2>コンテンツ一覧</h2>
    <ul class="contents external--link">
        <% @contents.each do |content| %>
          <li><a href="/contents/<%= content.id %>"><%= content.id %>.<%= content.title %></a></li>
        <% end %>
    </ul>

  </div>
</div>