<div class="main contents">
    <div class="container">
        <h1>VPCを作成する</h1>

        <h2>作業手順</h2>

        <h3>3.1.VPC作成</h3>
        <ol>
            <li>AWSマネジメントコンソールにログインし、東京リージョンであることを確認する</li>
            <li>コンソール上部の検索ウィンドウに「VPC」と入力し、現れた「VPC」を選択する</li>
                <img src="/VPC作成/3-1_VPC作成①.png">
            <li>VPCコンソール右上の「VPCを作成」をクリックする</li>
                <img src="/VPC作成/3-1_VPC作成②.png">
            <li>「VPCの設定」内で以下の通り入力する。入力後、右下の「VPCを作成」をクリックする</li>
                <table border="1" style="border-collapse: collapse">
                    <tr>
                        <th>項目</th>
                        <th>設定値</th>
                    </tr>
                    <tr>
                        <td>名前タグ</td>
                        <td>test-VPC</td>
                    </tr>
                    <tr>
                        <td>IPv4 CIDR ブロック</td>
                        <td>10.0.0.0/24</td>
                    </tr>
                </table>
                <img src="/VPC作成/3-1_VPC作成③.png">
            <li>VPCが正常に作成されたことを確認する</li>
                <img src="/VPC作成/3-1_VPC作成④.png">
        </ol>

        <h3>3.2.サブネット作成</h3>
        <ol>
            <li>AWSマネジメントコンソールからVPCを開く</li>
                <img src="/3-2_サブネット作成/3-2_サブネット作成①.png">
            <li>ナビゲーションペインの「サブネット」をクリックし、右上の「サブネットを作成」を選択</li>
                <img src="/3-2_サブネット作成/3-2_サブネット作成②.png">
            <li>「VPC」選択欄で、作成済の「test-VPC」を選択する</li>
                <img src="/3-2_サブネット作成/3-2_サブネット作成③.png">
            <li>「サブネットの設定」欄で、以下を入力し、右下の「サブネットを作成」をクリックする</li>

            <table border="1" style="border-collapse: collapse">
                <tr>
                    <th>項目</th>
                    <th>設定値</th>
                </tr>
                <tr>
                    <td>サブネット名</td>
                    <td>public-subnet-A</td>
                </tr>
                <tr>
                    <td>アベイラビリティーゾーン</td>
                    <td>アジアパシフィック(東京) / ap-northeast-1a</td>
                </tr>
                <tr>
                    <td>IPv4 CIDR ブロック</td>
                    <td>10.0.0.0/26</td>
                </tr>
            </table>

                <img src="/3-2_サブネット作成/3-2_サブネット作成④.png">

            <li>サブネットが正常に作成されたことを確認後、再度「サブネットを作成」をクリックする</li>
                <img src="/3-2_サブネット作成/3-2_サブネット作成⑤.png">
            <li>「VPC」選択欄で、作成済の「test-VPC」を選択する</li>
                <img src="/3-2_サブネット作成/3-2_サブネット作成⑥.png">
            <li>「サブネットの設定」欄で、以下を入力し、右下の「サブネットを作成」をクリックする</li>
            
            <table border="1" style="border-collapse: collapse">
                <tr>
                    <th>項目</th>
                    <th>設定値</th>
                </tr>
                <tr>
                    <td>サブネット名</td>
                    <td>private-subnet-A</td>
                </tr>
                <tr>
                    <td>アベイラビリティーゾーン</td>
                    <td>アジアパシフィック(東京) / ap-northeast-1a</td>
                </tr>
                <tr>
                    <td>IPv4 CIDR ブロック</td>
                    <td>10.0.0.64/26</td>
                </tr>
            </table>

                <img src="/3-2_サブネット作成/3-2_サブネット作成⑦.png">

            <li>サブネットが正常に作成されたことを確認後、再度「サブネットを作成」をクリックする</li>
                <img src="/3-2_サブネット作成/3-2_サブネット作成⑧.png">
            <li>「VPC」選択欄で、作成済の「test-VPC」を選択する</li>
                <img src="/3-2_サブネット作成/3-2_サブネット作成⑨.png">
            <li>「サブネットの設定」欄で、以下を入力し、右下の「サブネットを作成」をクリックする</li>
            
            <table border="1" style="border-collapse: collapse">
                <tr>
                    <th>項目</th>
                    <th>設定値</th>
                </tr>
                <tr>
                    <td>サブネット名</td>
                    <td>public-subnet-C</td>
                </tr>
                <tr>
                    <td>アベイラビリティーゾーン</td>
                    <td>アジアパシフィック(東京) / ap-northeast-1c</td>
                </tr>
                <tr>
                    <td>IPv4 CIDR ブロック</td>
                    <td>10.0.0.128/26</td>
                </tr>
            </table>
                <img src="/3-2_サブネット作成/3-2_サブネット作成⑩.png">

                <li>サブネットが正常に作成されたことを確認後、再度「サブネットを作成」をクリックする</li>
                <img src="/3-2_サブネット作成/3-2_サブネット作成11.png">

            <li>「VPC」選択欄で、作成済の「test-VPC」を選択する</li>
            <img src="/3-2_サブネット作成/3-2_サブネット作成12.png">
            <li>「サブネットの設定」欄で、以下を入力し、右下の「サブネットを作成」をクリックする</li>

            <table border="1" style="border-collapse: collapse">
                <tr>
                    <th>項目</th>
                    <th>設定値</th>
                </tr>
                <tr>
                    <td>サブネット名</td>
                    <td>private-subnet-C</td>
                </tr>
                <tr>
                    <td>アベイラビリティーゾーン</td>
                    <td>アジアパシフィック(東京) / ap-northeast-1c</td>
                </tr>
                <tr>
                    <td>IPv4 CIDR ブロック</td>
                    <td>10.0.0.192/26</td>
                </tr>
            </table>
            <img src="/3-2_サブネット作成/3-2_サブネット作成13.png">

            <li>サブネットが正常に作成されたことを確認する</li>
            <img src="/3-2_サブネット作成/3-2_サブネット作成14.png">

            <li>サブネットが全部で4つ正常に作成されたことを確認する</li>
            <img src="/3-2_サブネット作成/3-2_サブネット作成15.png">

        </ol>

        <h3>3.3.インターネットゲートウェイ作成</h3>
        <ol>
            <li>AWSマネジメントコンソールから、VPCを開く</li>
                <img src="/3-3_IGW作成/3-3_IGW作成①.png">
            <li>左側ナビゲーションペインから、「インターネットゲートウェイ」を選択後、右上の「インターネットゲートウェイの作成」をクリックする</li>
                <img src="/3-3_IGW作成/3-3_IGW作成②.png">
            <li>「インターネットゲートウェイの設定」にて、以下を設定し、右下の「インターネットゲートウェイの作成」をクリックする</li>
                
                <table border="1" style="border-collapse: collapse">
                    <tr>
                        <th>項目</th>
                        <th>設定値</th>
                    <tr>
                        <td>名前タグ</td>
                        <td>test-gateway</td>
                    </tr>
                </table>
                
                    <img src="/3-3_IGW作成/3-3_IGW作成③.png">

            <li>正常に作成されたことを確認後、右上の「VPCへアタッチ」をクリックする</li>
                <img src="/3-3_IGW作成/3-3_IGW作成④.png">
            <li>「VPC」選択欄で、作成済の「test-VPC」を選択し、右下の「インターネットゲートウェイのアタッチ」をクリックする</li>
                <img src="/3-3_IGW作成/3-3_IGW作成⑤.png">
            <li>インターネットゲートウェイが正常にVPCアタッチ完了したことを確認する</li>
                <img src="/3-3_IGW作成/3-3_IGW作成⑥.png">
        </ol>

        <h3>3.4.ルートテーブル作成</h3>
        <ol>
            <li>AWSマネジメントコンソールから、「VPC」を開く</li>
                <img src="/3-4_ルートテーブル作成/3-4_ルートテーブル作成①.png">
            <li>ナビゲーションペインから、「ルートテーブル」を選択し、「ルートテーブルの作成」をクリックする</li>
            <img src="/3-4_ルートテーブル作成/3-4_ルートテーブル作成②.png">
            <li>「ルートテーブルの作成」で、以下を設定後、右下の「作成」をクリックする</li>
            <table border="1" style="border-collapse: collapse">
                <tr>
                    <th>項目</th>
                    <th>設定値</th>
                <tr>
                    <td>名前</td>
                    <td>test-route Table</td>
                </tr>
            </table>

            <img src="/3-4_ルートテーブル作成/3-4_ルートテーブル作成③.png">
            <li>正常にルートテーブルが作成された後、右下の「閉じる」をクリックする</li>
            <img src="/3-4_ルートテーブル作成/3-4_ルートテーブル作成④.png">
            <li>「test-routeTable」に選択後、「ルート」タブを選択し、「ルートの編集」をクリックする</li>
            <img src="/3-4_ルートテーブル作成/3-4_ルートテーブル作成⑤.png">
            <li>「ルートの編集」にて、「ルートの追加」をクリックする</li>
            <img src="/3-4_ルートテーブル作成/3-4_ルートテーブル作成⑥.png">
            <li>送信先に「0.0.0.0/0」を入力し、ターゲットで「Internet Gateway」を選択する</li>
            <img src="/3-4_ルートテーブル作成/3-4_ルートテーブル作成⑦.png">
            <li>作成済の「test-gateway」を選択し、右下の「ルートの保存」をクリックする</li>
            <img src="/3-4_ルートテーブル作成/3-4_ルートテーブル作成⑧.png">
            <li>ルートが正常に編集されたことを確認する</li>
            <img src="/3-4_ルートテーブル作成/3-4_ルートテーブル作成⑨.png">
            <li>作成されたルートテーブルを選択し、「サブネットの関連付け」タブを開く</li>
            <li>サブネットの関連付けを編集をクリックする</li>
            <img src="/3-4_ルートテーブル作成/3-4_ルートテーブル作成10.png">
            <li>public-subnet-Aとpublic-subnet-Cを選択して関連付けを保存する</li>
            <img src="/3-4_ルートテーブル作成/3-4_ルートテーブル作成11.png">
        </ol>

        <h2>解説</h2>
        <p>VPC：AWSリソースを構築するための仮想ネットワーク</p>
        <p>サブネット：ネットワークを分割して作った小さなネットワーク</p>
        <p>インターネットゲートウェイ：VPC内からインターネットに接続するためのゲートウェイ</p>
        <p>ルートテーブル：ネットワークの経路。通信先を判断するもの</p>
        <p>サブネットマスク：ネットワークの範囲を定義するもの</p>
        <p>　例：255.255.255.0など</p>
        <p>　サブネットマスクの設定によって、IPアドレスの個数が変わる</p>
        <p>　CIDR表記：サブネットマスクを短縮表記したもの</p>
        <p>　/16のサブネットマスク：255.255.0.0</p>
        <p>　/24のサブネットマスク：255.255.255.0</p>
        <p>　/28のサブネットマスク：255.255.255.240</p>
        <p>　/32のサブネットマスク：255.255.255.255</p>
        <p>CIDR範囲のIPアドレス個数</p>
        <p>　/16 IPアドレス個数 65536個</p>
        <p>　/24 IPアドレス個数 256個</p>
        <p>　/28 IPアドレス個数 16個</p>
        <p>　/32 IPアドレス個数 1個</p>
    </div>
</div>