<div class="main contents">
  <div class="container">
      <div class="article">
        <h2>用語解説</h2>
        <h3>テスト１</h3>
        <p>説明が入ります。説明が入ります。説明が入ります。</p>
        <h3>テスト２</h3>
        <p>説明が入ります。説明が入ります。説明が入ります。</p>
        <h3>テスト３</h3>
        <p>説明が入ります。説明が入ります。説明が入ります。</p>
        <h3>テスト４</h3>
        <p>説明が入ります。説明が入ります。説明が入ります。</p>
        <h3>テスト５</h3>
        <p>説明が入ります。説明が入ります。説明が入ります。</p>
        <h3>共有ディスク<a id="word1"></a></h3>
        <p>ネットワーク上の複数台のコンピュータからアクセスでき、ファイルの読み書きが可能なハードディスクの領域のことである。 Windowsでは、「マイ コンピュータ」を開いてローカルディスクのアイコン上で右クリックし、「共有とセキュリティ」の設定を行うことによって、ディスクを共有することができる。</p>
        <h3>テスト６</h3>
        <p>説明が入ります。説明が入ります。説明が入ります。</p>
      </div>
  </div>
</div>