<div class="main contents">
    <div class="container">
        <h1>WordPressの設定</h1>

        <h2>作業手順</h2>
        <ol>
            <li>以下コマンドを実行し、EC2インスタンスにSSH接続する</li>
            <pre>
                <code>
                    $ cd ~/Downloads
                    $ ssh -i EC2-key.pem ec2-user@ElasticIPアドレス
                </code>
            </pre>
            
            <li>wordpressの設定を行うため、以下コマンドを実行する</li>
            <pre>
                <code>
                    $ wget https://wordpress.org/latest.tar.gz
                    $ tar -xzf latest.tar.gz
                    $ ls -l
                    $ cd wordpress
                    $ cp wp-config-sample.php wp-config.php
                    $ ls -l
                </code>
            </pre>
            <li>wordpressの設定で参照するためブラウザから以下サイトにアクセスする</li>

            <li>　<a>https://api.wordpress.org/secret-key/1.1/salt/</a></li>
            <li>以下コマンドを実行し、wordpressの設定を行う</li>
            <pre>
                <code>
                    $  vi wp-config.php
                    :set number  ※行数が表示される
                </code>
            </pre>
            <li>変更箇所</li>
            <table border="1" style="border-collapse: collapse">
                <tr>
                    <th>変更行</th>
                    <th>変更前</th>
                    <th>変更後</th>
                </tr>
                <tr>
                    <td>23行目</td>
                    <td>define( 'DB_NAME', 'database_name_here' );</td>
                    <td>define( 'DB_NAME', 'wordpress' );</td>
                </tr>
                <tr>
                    <td>26行目</td>
                    <td>define( 'DB_USER', 'username_here' );</td>
                    <td>define( 'DB_USER', 'wordpress' );</td>
                </tr>
                <tr>
                    <td>29行目</td>
                    <td>define( 'DB_PASSWORD', 'password_here' );</td>
                    <td>define( 'DB_PASSWORD', 'ご自身で設定したパスワード' );</td>
                </tr>
                <tr>
                    <td>32行目</td>
                    <td>define( 'DB_HOST', 'localhost' );</td>
                    <td>define( 'DB_HOST', 'RDSエンドポイント' );</td>
                </tr>
                <tr>
                    <td>49行目〜56行目</td>
                    <td>全て</td>
                    <td><a>https://api.wordpress.org/secret-key/1.1/salt/</a>で表示された値</td>
                </tr>
            </table>
            <li>※RDSエンドポイントはAWSマネジメントコンソールのRDS詳細画面で確認する</li>
            <li>変更したらescキーを押し、「:wq!」と入力する。（変更内容を保存するviコマンド）</li>

            <li>以下コマンドを実行し、wordpressをEC2デプロイする</li>
            <pre>
                <code>
                    $ sudo amazon-linux-extras install -y lamp-mariadb10.2-php7.2 php7.2
                    $ cd /home/ec2-user
                    $ sudo cp -r wordpress/* /var/www/html/
                    $ sudo service httpd restart
                </code>
            </pre>
            <li>ブラウザから、http://ElasticIPアドレス にアクセスする</li>
            <li>下記の画面が表示されることを確認する</li>
            <img src="/11_wordpress/wordpress07.png">

        </ol>

        <h2>解説</h2>
        <p>SSH接続：ネットワーク接続されて機器を遠隔操作するための通信手段のこと</p>
        <p>Wordpress：サイト作成などを可能にするコンテンツ管理システムの１つで無料のソフトウェア</p>
        <p>LAMP環境：Linux, Apache, MySQL, PHPで構成するWebアプリケーション開発環境</p>
    </div>
</div>
