<div class="main contents">
    <div class="container">
      <div class="lp">
        <div class="top_contents">
          <h1>成果が出るのは『非認知能力』×エンジニアスキル</h1>

          <p>Elemental-Labとは、従来のプログラミング学習といったテストで測ることのできる能力を高める『認知教育』だけでなく、テストで知りえない能力を高める『非認知教育』も取り入れた、スキルベースに留まらない本質的な学習を促進するエンジニア教育プラットフォームです。</p>
        </div>

        <div>
          <h2>このような悩みはありませんか？</h2>
          <p class="inline"><%= image_tag "lp_01.svg", class: 'sized' %></p>
          <p class="inline">プログラミングを学習していて、「これが本質的な理解になっているのかわからない」「表面上だけなぞって本当に現場で通用するのかわからない」のような悩みはありませんか？</p>

          <p>実は、そのような悩みは『非認知教育』によって解決できるのです。</p>

          <p>『非認知教育』とは、『非認知能力』を教育することをいい、<br>『非認知能力』というのは、テストで計測できない能力を広く指します。
          </p>

          <p>具体的には、『論理的な思考力、やり抜く力、目標に向かって頑張る力、自制・自律性、自己肯定感、他者へ配慮、コミュニケーション能力』などが該当し、</p>

          <p>従来のITスクールでは、そのような『非認知能力』を見落とし、スキル面にフォーカスしてきました。</p>

          <p>その結果、根本的な理解が不確定なままエンジニア転職に失敗、エンジニア転職を果たしても本当に理解できているのか分からないまま業務を遂行、、など。多額のお金を払っても満足感を得られずに卒業していくITスクール卒業生が続出しています。</p>

          <h2>Elemental-Labではそんな悩みを解決します。</h2>
          <p class="inline"><%= image_tag "lp_02.svg", class: 'sized' %></p>

          <p>Elemental-Labでは、従来のITスクールが見落としていた点を補い、AI時代においても、変わらずに必要とされる『非認知教育』にフォーカスした教育コンテンツを提供します。</p>

          <p>もちろん、『非認知教育』だけでなく、技術コンテンツも提供。<br>AWS、セキュリティ、数学、SREをはじめとする、技術コンテンツも充実しています。
          </p>

          <h2>コンテンツ一覧</h2>
          <ul>
            <li class="lesson1"><p>AWS基礎コース</p></li>
            <li class="lesson2"><p>セキュリティコース 準備中</p></li>
            <li class="lesson3"><p>非認知教育コース 準備中</p></li>
          </ul>

          <p>現場を経験してきた、各分野ごとのプロが制作したコンテンツを『無料』で提供します。</p>

          <p>Elemental-Labで、AI時代でも通用する本質的な技術・能力を身に着け、表面的な理解に留まらないエンジニアを目指しましょう。</p>

          <p>さあ始めよう</p>
          <a href="/signup" class="btn btn--green">無料ではじめる</a>


        </div>


      </div>
    </div>  
</div>    