<div class="main users-new">
    <div class="container">
        <div class="form-heading">新規ユーザー登録</div>
        <div class="form users-form">
            <div class="form-body">

                <% @user.errors.full_messages.each do |message| %>
                    <div class="form-error">
                        <%= message %>
                    </div>
                <% end %>

                <%= form_tag("/users/create") do %>
                <!--form_with(名前月ルーティング)-->
                    <p>メールアドレス</p>
                    <input name="email" value="<%= @user.email %>">
                    <p>パスワード</p>
                    <input type="password" name="password" value="<%= @user.password %>">
                    <p>利用規約</p>
                    <div class="tos">
<p>
本規約は、株式会社（以下、「当社」という）が「AWS教育プラットフォーム」にて提供している全ての学習コース（以下、「本コース」という）に適用されるものとします。本コースにおいて提供されるすべてのサービスと、本規約の内容とが異なる場合には、本規約の規定が優先して適用されるものとします。


第1条（定義）
第1項　本サービスまたは「AWS教育プラットフォーム」とは、本コースにおいて当社から提供されるすべてのサービスのことをいい、インターネット上の求人やニュース情報の配信、さらにはプログラミング学習や就職・転職の支援に関連するサービスの総称を指すものとします。
第2項　登録申請者とは、当社の本コースに申込を行ったすべての個人を指します。
第3項　ユーザーとは、前項の登録申請者のうち、当社が登録を許諾し、登録が完了して本サービスを利用中の個人を指します。
第4項　メンターとは、登録申請者またはユーザーに対して、転職・就職、IT技術および当社サービスに関わることの指導を行う全ての当社従業員（業務委託を含む）を指します。


第2条（利用登録）
第1項　当社は、当社の基準に従い、登録申請を行ったユーザーの登録の可否を判断し、当社が登録を認める場合にはその旨を登録申請者に通知を行います。登録申請者の登録は、当社が本項の通知を行うことにより完了したものとし、完了した時点で、本規約の内容を承諾および同意したものとします。
第2項　登録が完了した時点で、ユーザーと当社の間にサービス利用契約が成立し、ユーザーは本サービスを本規約に従い利用することが可能となります。
第3項　登録申請を行うユーザーは、申請に当たり、以下の各号の事項を確認および了承の上、申請しなければならないものとします。また登録希望者は、外部サービスやアプリケーションについては、それらのサービスやアプリケーションの利用規約等に従って利用するものとします。なお、当社は本サービスに関連して登録希望者が利用する外部サービスの安全性については一切責任を負いません。
・コンピュータ、Webカメラおよびマイク等、本サービスの利用に必要な機器をユーザー自身で準備すること
・ユーザー自身で外部サービス「Google」「skype」「Slack」「Chatwork」「Github」「Microsoft Teams」「zoom」などにてアカウントを作成の上、本サービスを受講目的で登録すること
・当社が推奨するバージョンの「Google Chrome」「Skype」「Slack」「Chatwork」「Microsoft Teams」「Github」「zoom」などが提供するアプリケーションをユーザーが自身でインストールすること
・ユーザーの保有する通信環境が本サービスの利用に支障がないか確認すること
・サポートは、当社の社員以外に当社の業務委託者も含まれること
第4項　当社は、登録申請者およびユーザーが、以下の各号のいずれかに該当する場合は、登録および再登録を拒否することがあり、またその理由については一切開示する義務はないものとします。
・6ヶ月を超えて、本サービスの利用がない場合
・虚偽および不正確な情報提供を行った場合
・当社より問い合わせ、回答を求めた連絡に対して、30日間以上応答をしない場合
・未成年者、成年被後見人、被保佐人又は被補助人のいずれかに当てはまり、法定代理人、後見人、保佐人又は補助人の同意等を得られていない場合
・第9条に定める規定に違反した場合
・過去当社との契約に違反した者又はその関係者であると当社が判断した場合
・本サービスにかかる料金について、当社指定の支払方法による支払いができない場合
・過去に当社に対する代金の支払いを怠っていた場合
・その他、当社が登録を適当でないと判断した場合


第3条（登録事項の正確性の保証）
第1項　ユーザーは、当社に対し、本サービスの利用にあたり必要なユーザーの個人情報について、不備・齟齬のない正確な情報を提供するものとし、ユーザーは自身が提供した個人情報の不備・齟齬などに起因して、第三者から何らかの異議、賠償、請求若しくは要求などがなされた場合には、自己の費用負担と責任で対処するものとし、当社に一切の迷惑・損害をかけないことを保証するものとします。
第2項　ユーザーは、事前に登録した情報について変更および削除が必要である場合、当社の定める方法により当該変更情報を遅滞なく当社に通知するものとします。
第3項　ユーザーは、当社が以下の書類を求めた場合には、速やかに提出するものとします。
・氏名・住所等、ユーザー本人であることを特定・確認するための本人確認書類
・在留資格を確認するための在留カード又は就労資格証明書等
・その他当社が紹介した求人企業が選考・採用を目的として提出を求める書類


第4条（パスワード及びユーザーIDの管理責任）
第1項　ユーザーは、当社が本サービスおよび本サービスに付随するサービスに関連してパスワードを発行した場合は、当該パスワードを自らの責任にて使用・管理を行い、いかなる場合も当該パスワードを第三者に使用、又は譲渡してはならないものとします。当社は、ユーザーが故意・過失であるかに拘わらず、ユーザーが本条に違反したことでユーザーに不利益および損害が発生したとしても、それらに対して補償する義務はなく、一切責任を負いません。


第5条（禁止事項）
第1項　当社は、本サービスを通じて、ユーザーが以下の行為を行うことを禁止します。
・社会常識・通念を逸脱した行為
・公序良俗・法令・条例等に反する行為および犯罪行為に関連する行為
・第9条に定める規定に違反する行為
・本サービスを通じて知り得た求人企業に対し、当社の書面による承諾なく直接連絡をとり、採用選考を受けまたは入社する行為
・当社、他のユーザー、取引先企業および第三者を誹謗中傷する、不利益、不快感、損害等を与える行為
・当社、他のユーザーおよび第三者の財産権（特許権、商標権、著作権等のあらゆる知的財産権を含む）またはプライバシーに関する権利等、あらゆる法的権利を侵害する行為
・本サービスのネットワーク又はシステム等に通常想定できない程の負荷をかける行為や不正アクセスを試みる行為
・いじめまたはそれに類する行為（当社が当該行為とみなした場合も含む）
・異性交際に関する情報を発信する行為
・氏名、住所、学校名、電話番号など個人を特定しうる内容の情報を発信する行為
・選挙運動若しくはこれに類似する行為および公職選挙法に抵触する行為
・宗教団体その他の団体・組織への加入を勧誘する行為
・商業用の広告、宣伝又は勧誘を目的とする情報を発信する行為
・アフィリエイトのリンクを含む情報を発信する行為
・無限連鎖講（ネズミ講）、チェーンメール、マルチ商法、リードメールなど他人を勧誘する行為
・金融機関等の口座番号を含む情報を発信する行為
・本サービスの運営、当社の経営を妨げる恐れのある一切の行為
・当社が事前に許諾していない本サービスを通しての広告、宣伝、勧誘、又は営業等の行為
・私的利用の範囲を逸脱していると判断できる行為
・以下に該当し、又は該当すると当社が判断する情報を当社又は本サービスの他の利用者に送信する行為
・過度に暴力的又は残虐な表現を含む情報
・コンピューター・ウィルスその他の本サービスおよびユーザーに不利益を被る有害なコンピューター・プログラムを含む情報
・当社、本サービスの他のユーザー又はその他の第三者の名誉又は信用を毀損する表現を含む情報
・差別を助長する表現を含む情報
・過度にわいせつな表現を含む情報
・自殺、自傷行為を助長する表現を含む情報
・薬物の不適切な利用を助長する表現を含む情報
・反社会的な表現を含む情報
・チェーンメール等の第三者への情報の拡散を求める情報
・その他、他人に不快感を与える表現を含む情報
・その他、当社が不適切と判断する一切の行為


第6条（情報の削除）
第1項　当社は、第5条に規定された行為とみなされる情報が登録される等、登録情報を削除する必要がある場合、ユーザーに通知することなく、当該情報を削除することができます。
第2項　有料サービスを利用中のユーザーが、次の項目のいずれかに該当した場合、当社はユーザーへの通知・催告無しに、そのサービスの利用停止又はユーザー資格の抹消をおこなうことができるものとします。
・有料サービスの利用料金（以下「受講料」といいます。）の支払を怠ったとき
・受講料の支払期限（督促期日）を過ぎたとき


第7条（退会）
第1項　ユーザーは、当社が定める方法により本サービスを退会することができます。本サービスを退会したユーザーは、退会の時点から本サービスを利用することができなくなるものとします。
第2項　退会時に当社に対する債務が残存している場合には、ユーザーは、当該債務の一切について当然に期限の利益を失い、直ちに当社に対して全ての債務を支払わなければならないものとします。
第3項　ユーザーは、本サービス退会後も、当社およびその他の第三者に対する、本サービス利用契約上の一切の義務および債務（損害賠償を含むが、これに限らないものとします）を免れるものではありません。
第4項　当社は、ユーザーが本サービスを退会した後も、当該ユーザーに対し、当社が運営するイベントまたはサービスのご案内を行う目的の範囲で、ユーザーが当社に提供した情報を利用することができるものとします。
第5項　ユーザーが本サービスを退会した場合、当社は、当社の裁量により、当該ユーザーの本サービスにおけるアカウントを削除することができるものとします。
第6項　退会後、再度本サービスの登録をユーザーが希望する際は、改めて入会手続を行う必要があります。ユーザーは再度の入会手続後、退会前のデータが引き継がれないことを予め承諾するものとします。
第7項　ユーザーが死亡した場合、当社は、当該ユーザーの本サービス利用権限を削除できるものとします。また、ユーザーが死亡した場合、その時点で本サービスを退会したものとし、当該ユーザーが有していた本サービスに関する権利・義務は当該ユーザーに一身専属に帰属し、相続されないものとします。
第8項　ユーザーが誤って退会申請をした場合やサービス利用上の記録を自ら削除した場合も、削除された情報の復旧を行うことはできず、本サービスを再度利用する場合には、あらためて本サービスの登録申請を行うものとします。


第8条（提供情報保証の否認）
第1項　本サービスを通して、参照した第三者の情報または第三者から提供される情報（会社情報等の第三者の情報、広告その他第三者により提供される情報）はその第三者の責任の範囲で提供されているものであり、提供情報の真実性、合法性、安全性、適切性、有用性、最新性、掲載期限等その他一切の事項について、当社は一切保証しません。
第2項　当社は、本サービスの提供を行う上で、利用時の不具合やエラー、障害が生じないこと、本サービスから取得できる情報の正確性、本サービスおよび本サービスを通して取得できる商品、役務、情報などが、ユーザーの期待を満たすものであるか否かについては、一切保証しません。


第9条（反社会的勢力の排除）
第1項　ユーザーは、本サービス利用申込時点および本サービス利用期間を通して、暴力団、暴力団員、暴力団員ではなくなった時点から５年を経過しない者、暴力団関係企業、暴力団準構成員、総会屋等、社会運動等標ぼうゴロまたは特殊知能暴力集団、右翼団体、反社会的勢力、その他これらに準ずる者（以下これらを「暴力団員等」と定めます。）に該当しないこと、および次に定める各号のいずれにも該当しないことを表明し、かつ今後一切にわたっても該当しないことを確約するものとします。
・暴力団員等が経営を支配していると認められる関係を有すること
・暴力団員等が経営に実質的に関与していると認められる関係を有すること
・自己もしくは第三者の不正の利益を図る目的または第三者に損害を加える目的をもってするなど、不当に暴力団員等を利用していると認められる関係を有すること
・暴力団員等に対して資金等を提供し、または便宜を供与するなどの関与をしていると認められる関係を有すること
・役員または経営に実質的に関与している者が暴力団員等と社会的に非難されるべき関係を有すること
第2項　ユーザーは、自らまたは第三者を利用して次の各号の一つにでも該当する行為を行わないことを確約するものとします。
・暴力的な要求行為
・法的な責任を超えた不当な要求行為
・取引に関して、脅迫的な言動をし、または暴力を用いる行為
・風説を流布し、偽計を用いまたは威力を用いて相手方の信用を毀損し、または相手方の業務を妨害する行為
・その他前各号に準ずる行為


第10条（当社からの通知）
第1項　当社は、ユーザーに対し、提供するサービスに関する販売推奨・アンケート調査・緊急あるいは重要なお知らせの通知をおこなう場合があります。
第2項　有料サービスを利用するユーザーには受講料のお支払いに関して、当社よりお支払いの確認、お支払日のお知らせを通知する場合があります。
第3項　有料サービスを利用するユーザーに受講料の未払い金が生じた場合は、当社から受講料の未払い金が生じた旨の通知をします。
その他当社が必要と判断した場合に通知します。


第11条（秘密保持）
第1項　本規約において「秘密情報」とは、本サービスに関連して、ユーザーが、当社より書面、口頭若しくは記録媒体等により提供若しくは開示されたか、又は知り得た、当社の技術、営業、業務、財務、組織、その他の事項に関する全ての情報を意味します。ただし、以下の各号に該当するものは、秘密情報に該当しないものとします。
・当社から提供若しくは開示がなされ又は知得する前に既にユーザー自身が保有していたもの
・当社からの提供若しくは開示又は知得の前後を問わず、自己の責めに帰せざる事由により公知となったもの
・秘密保持義務を負うことなく第三者から適法に取得したもの
・秘密情報によることなく単独で開発したもの
第2項　ユーザーは、秘密情報を本サービスの利用目的以外の目的で使用してはならず、当社の事前の書面による承諾なしに、第三者に対し秘密情報を提供、開示又は漏洩してはならないものとします。
第3項　前項の定めにかかわらず、ユーザーは、法律、裁判所又は政府機関の命令、要求又は要請に基づき、秘密情報を開示することができます。ただし、当該命令、要求又は要請があった場合、速やかにその旨を当社に通知しなければなりません。
第4項　ユーザーは、秘密情報を複製、複写、翻案等する場合には、事前に当社の書面による承諾を得るものとし、電磁的方法により複製物等の管理については第2項に準じて厳重に行うものとします。
第5項　ユーザーは、当社から求められた場合はいつでも、遅滞なく、当社の指示に従い、秘密情報および秘密情報を記載又は包含した書面その他の記録媒体物並びにその全ての複製物等を返却又は廃棄しなければなりません。


第12条（個人情報の取扱い）
第1項　当社は、ユーザーの個人情報の取り扱いについて、当社の「プライバシーポリシー」および「「AWS教育プラットフォーム」における個人情報の取扱いについて」の定めに準じて行います。ユーザーは当社が「プライバシーポリシー」「「AWS教育プラットフォーム」における個人情報の取扱いについて」に則ってユーザーの個人情報を取り扱うことに予め同意するものとします。


第13条（サービスの変更・中断・終了）
第1項　当社は、事前の通知なく、ユーザー向けサービスの内容や提供を変更、終了、または一時的に中断をする可能性があります。ユーザーはそれに対して異議を申し立てることはできないものとします。


第14条（権利帰属）
第1項　当社が運営するウェブサイトおよび本サービス（講義を収録した映像または音声データ、カリキュラムの内容を記述した電子ファイルなどの一切を含む）に関する知的財産権は全て、当社又は当社に著作権を許諾している者に帰属しており、本規約に基づく本サービスの利用許諾は、当社ウェブサイト又は本サービスに関する当社又は当社に著作権を許諾している者の知的財産権（著作権、特許権、実用新案権、意匠権、商標権その他の知的財産権　※それらの権利を取得し、又はそれらの権利につき登録等を出願する権利を含む）の使用許諾を意味するものではありません。
第2項　ユーザーは、本サービスを利用して自身で投稿を行ったデータについて、自らが投稿その他送信することについての適法な権利を有していること、および投稿したデータが第三者の権利を侵害していない、かつ侵害する可能性のないことについて、当社に対し保証するものとします。
第3項　ユーザーは、投稿データについて、当社に対し、世界的、非独占的、無償、サブライセンス可能かつ譲渡可能な使用、複製、配布、派生著作物の作成、表示および実行に関する著作権を付与します。また、他のユーザーに対しても、本サービスを利用してユーザーが投稿その他送信した投稿データの使用、複製、配布、派生著作物を作成、表示および実行することについての非独占的な著作物の利用を許諾します。
第4項　ユーザーは、当社および当社から権利を承継し又は許諾された者に対して著作者人格権を行使しないことに同意するものとします。
　

第15条（免責）
第1項　当社は、ユーザーが本サービスへ登録および問い合わせを行ったこと、または本サービスを利用したことあるいは利用できないことによってユーザーに発生した損害について、それが直接的または間接的かを問わず、精神的苦痛を含む、一切の紛争、損害につき、何らの責任も負わないものとします。本利用規約のいずれかにユーザーが違反した場合も、ユーザーは当社に対しての主張、訴訟その他全ての法的措置から当社を免責するものとします。本サービスの利用により発生した通信料について、ユーザーに争いが生じた場合も当社は免責されるものとします。
第2項　当社は、以下に定める各号の項目において、本サービスの提供に支障および本サービスの提供が困難となった場合、ユーザーに生じた損害について何ら責任を負わないものとします。
・システムトラブル等で緊急な保守点検が必要なとき
・当社が利用する外部システムが、何らかの影響でサービスの提供が困難なとき
・第一種（電話会社等）および第二種電気通信事業者（プロバイダ）の役務が提供されないとき
・人為的災害（戦争、暴動、騒乱、労働争議等）によりサービスの提供ができないとき
・情報取扱業務において一般的なウィルス対策では防止が不可能なウィルス被害を受けたとき
・ユーザーのAWSアカウントにおいて課金が発生したとき
・その他当社の責に帰すべき事由によらない火災、停電、天災地変等の不可抗力によりサービスの提供ができないとき
第3項　当社は本サイトにエラーその他の障害がないこと、サーバー等にウィルスその他の有害な要素が含まれていないこと、その他本サービス提供のために必要なインフラ、システム等に瑕疵がないこと等につき保証いたしません。インターネット回線の状況や当社使用のサーバー負荷、その他ユーザーの通信環境により、通信・通話が途切れる、または正常に視表示されないことがあります。これによってユーザーに生じた損害においても、当社は免責されるものとします。
第4項　ユーザーが本サービスを通して、第三者との間に生じた紛争、損害はすべてユーザーの責任に帰するものとし、ユーザーの責任において解決を行い、当社は何らの責任を負わず、介入しないこととします。
第5項　当社は、当社の機密に属する事項について、ユーザーからの質問等への回答、その他対応等を行う義務を一切負いません。
第6項　当社の本サービスは、ユーザーが本サービスを利用することによって、学習の習熟度や就職・転職の成功を保証するものではありません。
第7項　当社の有料サービスを利用しているユーザーが、誤って異なる口座に振込をしたことにより、当社への未払い金が生じたとしても、ユーザーは当社に対し未払い金を支払う義務は免責されず、かつそれによりユーザーに不利益、損害が生じた場合においても、当社はこれに対し一切責任を負いません。
第8項　悪意のあるユーザーが当該サービスを利用し、悪意のある操作をもって正規ユーザーに損害、不利益が発生した場合、いかなる場合でも当社はこれに対し一切責任を負いません。


第16条（有料サービス）
第1項　ユーザーが、当社の本サービスの中で、有料で提供するコースやサービスを受講・利用する場合は、第25条以降に定める有料サービスに関する規定にも従うものとします。


第17条（無料サービス）
第1項　ユーザーは、無料コース等の当社が無料で提供するサービスを利用することができます。


第18条（規約の変更）
第1項　当社は、ユーザーの承諾を得ることなく、本規約を随時変更することができます。変更は、本サイトへの掲載をもって適用されたものとし、すべてのユーザーはその変更を予め了承するものとします。


第19条（損害賠償）
第1項　ユーザーが本規約に違反し、当社または第三者に対し損害を与えた場合、ユーザーは、当社または第三者に対し、その損害を賠償する義務を負うものとします。


第20条（分離可能性）
第1項　本規約のいずれかの条項またはその一部が、消費者契約法その他の法令等により無効または執行不能と判断された場合であっても、本利用規約の残りの規定については、継続して完全に効力を有するものとします。また当社およびユーザーは、当該無効若しくは執行不能とされた条項あるいはその一部分を適法とし、執行力を持たせるために必要な対応を行い、それらが当初の趣旨と同等の、また法律的・経済的に同等の効果を確保できるように努めるものとします。本規約のいずれかの条項またはその一部が、あるユーザーとの関係で無効とされ、または取り消された場合でも、当該条項またはその一部は、その他のユーザーとの関係では有効であるものとします。


第21条(存続規定)
第1項　第5条、第6条、第8条、第11条、第12条、第14条、第15条、第19条、第22条乃至第24条の規定は、本契約の終了後も有効に存続するものとします。


第22条（本規約上の地位の譲渡等）
第1項　当社が本サービスについての事業を他社に承継した場合（事業譲渡、合併、会社分割による場合を含みますが、これらに限られません）には、利用契約上の地位、本規約に基づく権利および義務ならびにユーザーの登録情報その他の顧客情報を譲受人に承継できるものとし、ユーザーは、かかる譲渡について予め同意したものとみなします。


第23条(協議事項)
第1項　本規約の解釈に疑義が生じた場合、または本規約に定めのない事項については、当社とユーザーは、誠意をもって協議の上、これを解決するものとします。


第24条（管轄裁判所）
第1項　本規約に基づく権利または法律関係には、日本国の法令を適用するものとします。
第2項　ユーザーと当社との間で本規約について訴訟の必要が生じた場合には、東京地方裁判所を第一審の専属的合意管轄裁判所とします。


第25条（有料サービスの内容）
第1項　当社の「AWS教育プラットフォーム」サイト（https://sp-educate/　以下、「当サイト」という）に記載している通りとします。


第26条（利用料金・支払方法）
第1項　ユーザーは、利用料金を支払うことにより、第25条のサービスを利用することができます。当該有料コースの利用料金および支払い方法は、当サイト上で表示している各コースの詳細ページの記載および申込時点での申込フォームに記載の通りとします。また、利用料金の支払い、振込期限については、当社の基準に準ずるものとします。
第2項　当社は、本条で定める利用料金について、本規約に定める第28条の返金保証に該当する場合を除き、理由の如何を問わず、すでに支払われた利用料金の返還を行わないものとし、ユーザーはこれに予め同意するものとします。


第27条（返金保証）
第1項　当社は、以下の各号の場合には、ユーザーが申込時にお支払いいただいたコース料金を全額返金いたします。ただし、返金にかかる振込手数料および分割手数料については、ユーザーの負担といたします。また、返金は返金保証利用日の属する月の翌月末日までに行うものとします。
第2項　本サービス受講開始日から8日以内に当社指定の申請フォームより退会の申し出をいただいた場合(当社への解約申し出の到達日を基準とします)。


第28条（受講料の未払いについて）
第1項　受講料の未払い金のお支払種別は当社が指定します。
第2項　ユーザーに受講料の未払い金が生じ、生じた月の末日までに当社にて入金の確認が取れない場合は、通知・催告無しに本サービスの提供を停止する場合があります。
第3項　ユーザーに受講料の未払い金をお支払する意思が無いと当社が判断した際は、即日本サービスの提供を停止し、強制退会させていただきます。
第4項　第27条に基づいて有料コースの支払い方法について口座振替（分割払い）をご選択したユーザーにおいて、いずれかの口座振替指定日に規定の金額が引き落とせなかった場合、通知・催告無しに本サービスの提供を停止する場合があります。
また、当社が指定する方法等により未払い分の支払いが行われない場合、翌月の口座振替指定日に未払い分を上乗せして引き落とし手続きをいたします。
未払いがあった翌月の口座振替指定日に未払い分の支払いが完了できなかった場合は、ユーザーは当然に一切の期限の利益を喪失し、当社の指定する方法により当該有料サービスのコース料金の残り全額をお支払いいただきます。


第29条（変更・退会の手続き（受講料支払方法変更・住所変更））
第1項　各種登録内容の変更または退会をご希望の方は、当社にご連絡ください。
第2項　退会手続きについては申請後、当社にて退会の手続きをします。
第3項　中途解約した際に解約日までの受講料が未払いであった場合、未払い分の金額を請求します。
第4項　有料サービスのコース変更後の受講料はその月の費用が高額なものを基準に算定します。
第5項　利用期間中に住所変更、支払いが完了していない間にクレジットカードの変更があった場合は速やかに申請ください。

以上

制定日：2021年8月20日

株式会社ストラテジーアンドパートナー
</p>
                    </div>
                    <div class="agreement-check">
                        <div class="agreement-checkbox">
                            <input type="checkbox" name="agreement" value="ok">
                        </div><p>私は利用規約に同意しました</p>
                    </div>
                    <br>
                    <input type="submit" value="新規登録">
                    <% end %>

            </div>
        </div>
    </div>
</div>